<!doctype html>
<html lang="tr">
<head>
    <title></title>
</head>
<body>
    <div style="text-align: center; padding: 15px;">
        <img src="/static/img/ajax-loader.gif" alt="Yükleniyor ...">
        <h4>Ödemeniz tamamlanmak üzere ...</h4>
    </div>
<script type="text/javascript">     
    window.parent.handle3dReturn('<%=paymentId%>');
</script>
</body>
</html>


