<!doctype html>
<html lang="tr">
<head>
    <title></title>
</head>
<body>

<script type="text/javascript">     
    debugger;
    window.parent.handle3dReturn('<%=paymentId%>');
</script>
</body>
</html>


