<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>

</head>





<body>



  <div class="page-title-overlap bg-primary pt-4 d-print-none">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/kasapsayfam"><i class="czi-home"></i></a></li>
          </ol>
        </nav>
      </div>

      <div class="media-body pt-2">


        <h1 class="h3 text-light">Online Ödeme Talep</h1>
        <h2 class=" text-light h4 lead">Müşterilerinizden online ödeme alın.</h2>     
     
      </div>


    </div>

  </div>






  <div class="container px-0">
    <div class="bg-light box-shadow-lg px-4 py-4 mb-3 ">
      <form method="POST" class="needs-validation" onsubmit="return sendPayment()" id="pay-form" novalidate autocomplete="off">
        <div class="form-group">
          <label for="mphone">Müşteri Cep Telefonu</label>
          <input autocomplete="off" class="form-control form-control-lg" minlength="10" maxlength="11" type="number" id="mphone"
            placeholder="5xx" required>
          <div class="invalid-feedback">Geçersiz tel

          </div>
        </div>
        <div class="form-group">
          <label for="desc">Adı Soyadı</label>
          <input class="form-control form-control-lg" maxlength="20" type="text" id="name"
            placeholder="müşterinizin adı ve soyadı" required>
          <div class="invalid-feedback">Geçersiz ad soyad

          </div>
        </div>

        <div class="form-group">
          <label for="pay">Ödeyeceği Tutar</label>
          
            <input class="form-control form-control-lg" placeholder="tutar" type="text" id="pay" required>

          
        </div>



        <div class="form-group">
          <label for="desc">İsteğe bağlı açıklama</label>
          <input class="form-control form-control-lg" maxlength="80" type="text" id="desc" placeholder="">
          <div class="invalid-feedback">Geçersiz açıklama

          </div>
        </div>

        <input class="btn btn-primary " value="Ödeme Talebi Gönder" type="submit">
      </form>
    </div>
  </div>

  <% include ./_partial/footer %> 
  <% include ./_partial/scripts %>

  <script>

    function sendPayment() {
      var conf = $("#pay").val() + ' bedel ' + $("#mphone").val() + ' için ödeme talebi oluşturulacak. Lütfen onaylayın.';
      if (($("#pay-form")[0]).checkValidity()) {
        event.preventDefault();
        App.Backend.post('butcher/payment/getsms', {
          phone: $("#mphone").val(),
          name: $("#name").val(),
          pay: $("#pay").val(),
          desc: $("#desc").val()
        }).then(function (result) {
          var conf = "AŞAĞIDAKİ SMS GİDECEKTİR. LÜTFEN ONAYLAYIN:\n" + result.text;
          if (window.confirm(conf)) {
            App.Backend.post('butcher/payment/send', {
              phone: $("#mphone").val(),
              pay: $("#pay").val(),
              name: $("#name").val(),
              desc: $("#desc").val()
            }).then(function (result) {
              window.App.alert("Ödeme talebi gönderildi. " + result.url)
            }).catch(err=>App.alert(err.message));
          }
        }).catch(err=>App.alert(err.message));
      }

      return false
    }

    $(function() {
      $('#pay').maskMoney();
  })

  </script>

</body>



</html>