<%-include('./_partial/food-select-alternatives.ejs', {}) %>

<h2>
    Sağlıklı beslenme konusunu önemsiyoruz. 
</h2>

<p>
    KasaptanAl.com olarak, kurulduğumuz günden beri sağlıklı beslenmenizi önemsiyoruz ve bunun için çalışmalar yürütüyoruz.
</p>

<p>
    Sağlıklı beslenmenin olmazsa olmazlarından birisi de olabildiğince katkısız gıdalarla beslenmek. Bu çerçevede, doğal <a href="/kasap-urunleri">et ve et ürünlerini</a> Türkiye'nin <a href="/kasaplar">en iyi kasaplar</a>ından kolaylıkla online sipariş verebilmenizi sağlıyoruz.
</p>
<p>
    Böylece hem sağlıklı et ürünlerine ulaşabilmenizi kolaylaştırıyoruz, hem de yerel üretimi desteklemenize yardımcı oluyoruz.
</p>
<h2>
    Kırmızı ve beyaz et besin değerleri
</h2>
<p>
    Sağlıklı beslenmenize bir katkımız daha olsun istedik. Seçkin kasaplarımızın güvenle tükettiğiniz kırmızı ve beyaz et ürünlerinin besin değerlerini ürün sayfalarına yerleştiriyoruz.
</p>

<h2>
    Besin değerlerini okuma ve anlama
</h2>

<p>
    Sağlıklı beslenme konusunda bilgi sahibi olmak isteyen herkese önerimiz, öncelikle tükettikleri gıdaların besin değerleri konusunda okuma yazar olmalarıdır.
</p>
<p>
    Üç  başlıkta bu konuyu ele alacağız.
</p>
<ol class="list">
    <li>
        Makro besinler. Protein, Karbonhidrat (şeker) ve Yağ
    </li>
    <li>
        Mineraller. Sodyum, potasyum, demir vb.
    </li>
    <li>
        Vitaminler. A, B, C vb.
    </li>
</ol>

<p>
    Sağlıklı beslenmeyi, yukarıdaki üç grup değerin doğru oranda tüketimi olarak tanımlayabiliriz.
</p>

<h3>Macro Besinler</h3>
<p>
    <a target="_blank" href="https://www.mdanderson.org/publications/focused-on-health/what-are-macronutrients-.h15-1593780.html">Macro besinler</a>, protein, karbonhidrat ve yağ grubundan oluşmakta. Tükettiğiniz her gıda bu besinlerden bir bölümünü veya tümünü içermekte.
</p>
    

    <ul class="list">
        <li>
            <p>
                Proteinler vücudunuzun büyümesi ve dokuların onarımı için gerekli besin grubudur. Örneğin kas kütlenizi artırmak istiyorsanız bunun yolu yeterli miktarda kaliteli protein tüketiminden geçmektedir. <a href="/blog/kirmizi-et-protein-kaynagi">Protein kaynağı</a> ve <a href="/blog/saglikli-beslenme-ve-kirmizi-et">Kırmızı Et ve Sağlıklı Beslenme</a> makalelerimizde bu konuda önemli bilgiler sunmaktayız.
            </p>
            <p>
                Kırmızı et veya beyaz et vücudunuza kaliteli protein sağlayabilecek önemli gıdalardandır.
            </p>
        </li>
        <li>
            <p>
                Karbonhidratlar vücudun ana enerji kaynağı olarak kullandığı besinlerdir. 
            </p>
            <p>
                Tahıllar, meyve ve sebzeler ana karbonhidrat kaynaklarıdır.
            </p>
        </li>
        <li>
            Yağlar, vücudun enerji rezervidir. Ayrıca bazı vitaminlerin emilimi ve taşınması için gereklidir.
        </li>
    </ul>
<p>
    Makro besinlerin ne oranda tüketilmesi gerektiği konusunda pek çok farklı görüş bulunmaktadır. Bununla ilgili ayrıca bir makale yayınlıyor olacağız.
</p>

<h3>
    Mineraller ve Vitaminler
</h3>

<p>
    <a target="_blank" href="https://www.helpguide.org/harvard/vitamins-and-minerals.htm">Mineraller ve vitaminler</a>i mikro besinler olarak kategorize edebiliriz. Her ikisi de vücudunuzun sağlıklı çalışması için gerekli olup makro besinlere göre daha az tüketimi vücudunuz için yeterlidir. 
</p>
<p>
    Vücudunuz her gün cilt, kas ve kemik, besinleri ve oksijeni taşıyan zengin kırmızı kan üretir. Ayrıca, bir organdan diğerine giden kimyasal habercileri formüle ederek, hayatınızı sürdürmenize yardımcı olacak talimatlar yayınlar.
</p>
<p>
    Ancak tüm bunları yapmak için vücudunuzun bazı ham maddelere ihtiyacı vardır. Bunlar, vücudunuzun ihtiyaç duyduğu ancak yeterli miktarda kendi başına üretemediği en az 30 vitamin, mineral ve diyet bileşenini içerir.
</p>
<h2>
    KasaptanAl.com besin değerleri tablosu
</h2>
<p>
 Oranlar ve sayılar başta biraz karmaşık gelse de sağlıklı beslenme konusu ilerledikçe taşlar yerine oturacak. 
</p>
<p>
    Okunurluğu daha kolay hale getirmek için besin değerleri tablosunda renklendirmeler yaptık. 
</p>
<p>
    <strong class="text-success">Proteinler</strong> yeşil, <strong class="text-info">karbonhidratlar</strong> mavi ve <strong class="text-warning">yağlar</strong> turuncu olarak belirlendi.
</p>
<p>
    Gerek makro gerek mikro besinler için günlük ihtiyacın ne kadarını karşılayacağı ile bilgiler ekledik.
</p>
<p>
    Sadece gramla değil, pratikte tüketim miktarı olabilecek dilim gibi birimleri de ekledik KasaptanAl.com besin değerleri tablosuna.
</p>
<p>
    Örneğin <a href="/dana-bonfile">dana bonfile besin değerleri</a> sayfası bunun güzel bir örneğini oluşturmakta.
</p>
<h2>
    Sağlıklı et siparişi
</h2>
<p>
    <a href="/">Kasaptan et siparişi</a> vererek doğal et ürünlerine ulaşmak eskiden gelen bir gelenek. Bu geleneği şehrinizin en iyi <a href="/kasaplar">kasaplar</a>ı ile çalışarak online ve kolay ulaşılır hale getirmekteyiz.
</p>

