

<p>
    Her sektörün duayen isimleri vardır. 
</p>

<p>
    Örneğin yazılım dünyasındaysanız <a target="_blank" href="https://computerhistory.org/profile/dennis-ritchie/">Dennis Ritchie</a> sizin için önemli bir isimdir. Teknolojiyi seven bir meraklıysanız <a target="_blank" href="https://en.wikipedia.org/wiki/Nikola_Tesla">Nikola Tesla</a>’nın hayal gücü karşısında büyülenirsiniz. Okumaya meraklıysanız <a target="_blank" href="https://www.britannica.com/biography/Leo-Tolstoy">Leo Tolstoy</a>’un romanlarındaki nazik anlatım, mimariye meraklıysanız <a target="_blank" href="https://en.wikipedia.org/wiki/Mimar_Sinan">Mimar Sinan</a>’ın ince zekâsının tasarımlarında vücut bulması sizi derinden etkiler.
</p>

<p>
    Hepsinin ortak özelliği tüm dünyada sevilen ve sayılan isimler olmalarıdır.

</p>

<p>
    Eğer et dünyasındaysanız bu isimlerin başında şüphesiz <strong>Cüneyt Asan</strong> gelir. Hayat hikayesi, kasaplık mesleğine kattığı global değer ve kişiliği ile Cüneyt Asan için bir <strong>Dünya Kasabı</strong> demek yanlış olmaz.

</p>
<h3>
Kendi sözleriyle Cüneyt Asan'a kulak verelim.

</h3>

    <p class="font-italic">
        "Bugüne kadar elde ettiğim başarının temellerinin Anadolu'nun genlerinde saklı olduğunu düşünüyorum. Bu topraklar birçok medeniyetin mirasını taşıyor. Bizler de farkında olmadan, bir şekilde o mirastan payımızı alıyoruz.”
    </p>

<div class="row ">
<div class="col-sm-6 mb-3">
    <img class="rounded-lg img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-steak.jpg" alt="Cüneyt Asan">

</div>
<div class="col-sm-6">
    <p>
        Cüneyt Asan 1959 yılında Erzincan’da doğmuştur ve henüz iki yaşındayken İstanbul’a gelmiştir. İlkokul üçüncü sınıfta kasaplık macerası başlamıştır. 
    
    </p>

    <p>Gençlik yıllarının başında çalışmış olduğu kasabı satın alarak birlikte bir ortaklığa adım atıp, toptan ve perakende et işi yapmaya başlamıştır.</p>
    <p>
        Akabinde Tekirdağ Malkara’da et üretim çiftliğini kurmuştur.
    </p>
</div>
</div>

<p>
    Türkiye’de kasaplıkla ilgili ne kadar ilk varsa hepsini gerçekleştirmiştir. Kasaba ilk köfteyi koyan, çocukları çeken, kadının işini kolaylaştıran, ilk tavuğu parçalayan ve tavuktan ürünler yapan Cüneyt Asan olmuştur. 

</p>

<p>
   <strong>Türkiye’de, Moskova’da, Dubai’de, Katar’da, Londra’da</strong> yüzlerce kişi Cüneyt Asan'ın tezgâhından geçmiş ve büyümüştür.
</p>

<p>
    1992 yılında restorancılık sektörüne taşınma kararı alıp, ilk Günaydın Restoran’ı açmıştır. Günaydın Restoran bugün her biri öz sermaye ile kurulmuş olan 37 şube ile sektöründe Türkiye’nin devleri arasındadır.

</p>

<div class="row ">
    <div class="col-sm-6 mb-3">
        <p>
            Ticari kariyerini bir tarafa bıraktığımızda Cüneyt Asan, yeni tatlar, sunumlar ve lezzetlerin peşinden koşmayı ilke edinen, ülkesi için hep üreten, yorulmadan, yılmadan, bıkmadan hayallerini gerçekleştiren bir <strong>USTA’dır...</strong> 
        
        
        </p>
        
        <p>
            Et konusunda doyurucu bilgiler veren <a target="_blank" href="http://etinkitabi.com/">Et’in Kitabı</a> isimli kitabıyla bir <strong>YAZAR’dır…</strong> 
        
        </p>
        
        <p>
        Televizyon programları, makaleler ve layık görüldüğü pek çok ulusal ve uluslararası ödülle, mütevazi kişiliğiyle örnek bir <strong>İNSAN’dır…</strong> 
        
        </p>
        
    </div>
    <div class="col-sm-6">
        <img class="mb-3 rounded-lg img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-kitchen.jpg" alt="Cüneyt Asan">

    </div>
    </div>





<h3>
    2020 ile yeni bir konsept geldi. Cüneyt Usta Kasap’ları.

</h3>

<div class="row ">

    <div class="col-sm-6">
        <img class="mb-3 img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-kasap-dukkan.jpg" alt="Cüneyt Usta Kasap">

    </div>

    <div class="col-sm-6 mb-3">
      
        <p>
            Cüneyt Usta Kasapları, kasaplık kültürüne yepyeni bir yaklaşım ve değer katmak amacıyla Cüneyt Usta’nın yılların deneyimiyle ortaya çıkardığı bir vizyon olarak ön plana çıkmaktadır.
        
        </p>

        <p>
            Eskilerin bildiği ve kültürümüzün bir parçası olan ancak modern yaşamın bize unutturduğu <strong>yüzyıllık tatları gün yüzüne çıkarmak</strong> ve yeniden hak ettikleri değerleri hatırlatmak bu vizyonun bir parçasıdır.
        
        </p>
        
        <p>
            Pişirmeye hazır nefis tatlardan modern yöntemlerle <strong>kuru ve ıslak dinlendirme (Dry Aged/Wet Aged) yüksek kaliteli etlerle</strong>, doğal şarküteri ürünleri ve pek çok butik kasap lezzetleriyle et severleri buluşturmak bu vizyonun bir diğer parçasıdır.
        
        </p>
    </div>
    </div>









<h3>
    Gururluyuz ve heyecanlıyız

</h3>
<p>
    <a href="/">KasaptanAl.com</a> ismimizden de anlaşıldığı gibi kasap kalitesinde et sağlamak için çabalıyoruz. Çünkü biliyoruz ki <strong>kaliteli et doğru kasaptan</strong> alınır.

</p>

<p>
    Bu inancımızla kasaplık mesleğine saygı duyuyor ve bu mesleği teknoloji konusundaki deneyimimizle bir adım öne götürmeyi hedefliyor, <strong>sadece ülkemizde değil tüm dünyada</strong> önemli bir platform olma amacıyla çalışıyoruz.

</p>
<p>
    Bir dünya kasabı ile birlikte çalışma şansını yakalamamız bizleri de onurlandırmakta. <a href="/cuneytusta.etiler">Cüneyt Usta Kasap Etiler</a> ve <a href="/cuneytusta.atasehir">Cüneyt Usta Kasap Ataşehir</a> dahil tüm şubelerinin eşsiz lezzetlerini güvenle KasaptanAl.com üzerinden sipariş verebilirsiniz.

</p>

<p>
    Hiç unutmamak dileğiyle, <strong>“Et Kasaptan Alınır”</strong>.

</p>



<p class="font-size-sm text-muted">
    Not: Cüneyt Asan Biyografisi için <a href="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-biyografisi.pdf">burayı</a> kullanabilirsiniz.
</p>

