<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item active" aria-current="page">Gizlilik Sözleşmesi</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">Gizlilik Sözleşmesi</h1>
        <p class="lead">

        </p>


      </div>
    </div>

  </div>







  <div class="container mt-3 font-size-md mb-3 ">

    <h3>Gizlilik Politikamız</h3>
    <p>Bu beyan www.kasaptanal.com’un gizlilik politikasını içerir. Kullanıcı www.kasaptanal.com web sitesini ziyaret
      ederek aşağıdaki şartları ve kuralları uygulamayı kabul, beyan ve taahhüt eder.www.kasaptanal.com üyelik
      aşamasında ve daha sonrasında sizden bazı kişisel bilgilerinizi talep eder.</p>
    <p>Kişisel bilgilerinizin korunması ve gizliliğinizin sürdürülebilmesi, kasaptanal.com ekibi olarak birinci
      önceliğimizdir. </p>
    <p>Sitemizdeki kayıt formları, sipariş formları gibi alanlarda irtibat bilgilerinizi (adınız, soyadınız, e-mail
      adresiniz, telefon numaralarınız ve posta adresiniz) vermeniz talep edilmektedir. Ayrıca, satın alma formunda
      kredi kartı bilgilerinizi vermeniz gerekmektedir. Burada bahsedilen kişisel bilgileriniz; siparişlerinizi almak,
      ürün ve hizmetlerimizi sunmak, ödemelerinizi gerçekleştirmek, siparişlerinizi ulaştırmak ve siparişleriniz ile
      ilgili bilgi vermek, ürünler ve hizmetler hakkında pazarlama amacıyla sizinle irtibata geçmek, bilgilerinizi
      güncellemek, üyeliğinizi yönetmek ve sürdürmek, ilginizi çekebilecek ürün ve hizmetleri önermek ve 3. şahısların
      teknik, lojistik ve benzeri diğer işlevlerini bizim adımıza yerine getirmelerini sağlamak amacıyla
      kullanılmaktadır.</p>
    <p>www.kasaptanal.com üyesi olduğunuz andan itibaren, aksi tarafınızdan talep edilmediği sürece, günlük ve haftalık
      bilgilendirme e-mailleri, e-mail adresinize gönderilecektir. Dilediğiniz zaman bu e-maillerle ilgili değişiklik
      yapma, hizmetten vazgeçme ve yeniden başlatma hakkınız bulunmaktadır. Bu e-maillerin içeriği; satın almış
      olduğunuz ürün veya ürünlerle ilgili bilgiler, ilgileneceğinizi düşündüğümüz diğer ürünler, 3. kişilerin
      reklamlarını ve benzeri bilgileri içerebilir. Demografik bilgiler, sitemizi kullanıcılarımızın ilgi alanlarına
      göre uyarlamak için kullanılmaktadır. Bu bilgiler, reklamların hedef kitleye uyarlanabilmesini temin etmek
      maksadıyla ve yalnızca diğer kullanıcılara ait bilgilerle birlikte olmak üzere, reklam verenlerle paylaşılabilir.
      Toplanan mali bilgiler satın aldığınız ürün ve hizmetleri size fatura etmek için kullanılmaktadır. Sitemizde bir
      satın alma yaptığınızda size ait mali bilgilerin, işleminizi gerçekleştirmek için gerekli 3. şahıslara (bankalar,
      kredi kartı şirketleri vb.) verilmesini kabul etmektesiniz. Paylaşılacak bilgiler; kredi kartı numarası, son
      kullanma tarihi, CVV2 de dahil olmak üzere gerekli tüm mali bilgileri içerir.</p>
    <p>Tüm kredi kartı ve kişisel bilgileriniz, internet güvenlik standardı olan SSL Secure sistemi ile 128 mbit
      şifrelenmiştir. Bu şifreleme ile, internet üzerindeki dolaşımları sırasında herhangi bir şekilde bilgilerinizin
      istenilmeyen kişi veya kurumlar tarafından ele geçirilmesi önlenmiştir. Gizlilik politikamız ile ilgili her türlü
      soru ve öneriniz için sitemizdeki iletişim bölümünden bize e-mail gönderebilirsiniz.</p>
    <p>kasaptanal.com üyelik iptal işleminizi merhaba@kasaptanal.com adresine e-posta göndererek
      gerçekleştirebilirsiniz.</p>


    <h3>Kişisel Verilerin Korunması hakkında</h3>
    <p>
     kasaptanal.com olarak, gerek web sitemizi kullanırken, gerekse başka yollarla tarafımıza iletmiş olduğunuz kişisel
      bilgilerinizin güvenliğinin sağlanmasına son derece önem vermekteyiz. 6698 sayılı “Kişisel Verilerin Korunması
      Kanunu” ve bu mevzuatta belirtilen bir takım tanımlar hakkında sizi bilgilendirmek isteriz: </p>
      <p>
        <ul>
          <li>
            Kişisel veri: Kimliği belirli veya belirlenebilir gerçek kişiye ilişkin her türlü bilgiyi,

          </li>
<li>
  Kişisel verilerin işlenmesi: Kişisel verilerin tamamen veya kısmen otomatik olan ya da herhangi bir veri kayıt
      sisteminin parçası olmak kaydıyla otomatik olmayan yollarla elde edilmesi, kaydedilmesi, depolanması, muhafaza
      edilmesi, değiştirilmesi, yeniden düzenlenmesi, açıklanması, aktarılması, devralınması, elde edilebilir hâle
      getirilmesi, sınıflandırılması ya da kullanılmasının engellenmesi gibi veriler üzerinde gerçekleştirilen her türlü
      işlemi,
</li>
<li>
  Veri işleyen: Veri sorumlusunun verdiği yetkiye dayanarak onun adına kişisel verileri işleyen gerçek veya tüzel
  kişiyi,
  Veri kayıt sistemi: Kişisel verilerin belirli kriterlere göre yapılandırılarak işlendiği kayıt sistemini,
  Veri sorumlusu: Kişisel verilerin işleme amaçlarını ve vasıtalarını belirleyen, veri kayıt sisteminin
  kurulmasından ve yönetilmesinden sorumlu olan gerçek veya tüzel kişiyi ifade eder. Kanun kapsamında Şirketimiz
  veri sorumlusu olarak hareket etmektedir.
</li>
        </ul>

      
      </p>
    <p>Veri sorumlusu sıfatı ile Şirketimiz tarafından ya da internet sitelerimiz ile sosyal medya sayfalarımız veya ve
      bunlarla sınırlı olmamak üzere her türlü kanallar aracılığı ile; kişisel ve/veya özel nitelikli kişisel
      verileriniz; tamamen veya kısmen elde edilebilir, kaydedilebilir, depolanabilir, değiştirilebilir, güncellenebilir
      , periyodik olarak kontrol edilebilir, yeniden düzenlenebilir, sınıflandırılabilir, işlendikleri amaç için gerekli
      olan ya da ilgili kanunda öngörülen süre kadar muhafaza edilebilir, kanuni ya da hizmete bağlı fiili gereklilikler
      halinde Şirketimizin birlikte çalıştığı ya da kanunen yükümlü olduğu kamu kurum ve kuruluşlarıyla ve/veya
      Türkiye&#39;de veya yurt dışında mukim olan 3. kişi gerçek kişi/tüzel kişi, hizmet sağlayıcı ve tedarikçi
      firmalar, sigorta şirketleri ile Şirketimiz ve/veya Şirketimizin alt acenteleri ile paylaşılabilir, kanuni ya da
      hizmete bağlı fiili gereklilikler halinde yurtdışı da dahil olmak üzere -aşağıdaki detaylar ile sınırlı olmamak
      kaydıyla- aktarılabilir ya da kullanılmasının engellenmesi de dahil olmak üzere -aşağıdaki detaylar ile sınırlı
      olmamak kaydıyla- işlenebilir.</p>
    <h4>
      Kişisel Verilerin Toplanması, İşlenmesi ve İşleme Amaçları
    </h4> 
<p>
      Kişisel verileriniz, kasaptanal.com tarafından sunulan ürün, hizmet ya da ticari faaliyete ilişkin olarak
      değişkenlik gösterebilmekle beraber, şirketimiz tarafından ürün ve hizmetlerin en iyi şekilde sunulabilmesini
      sağlamak amacıyla işlenmektedir.
      kasaptanal.com olarak, kimlik ve iletişim verileriniz, alışverişinize ilişkin ödeme verileriniz, online hizmetlerimizi kullanmanız halinde dijital ve çerez verileriniz ve çağrı merkezimize
      ulaşmanız halinde işitsel verileriniz gibi genel veya iletmeniz halinde özel nitelikli kişisel verileriniz;</p>
    <p>Çeşitli kanallar aracılığıyla (çağrı merkezi, internet sitesi vs.) ürün
      ve/veya hizmetlerimizin sunulması
      Siparişlerin alımı, iptali ve yerine getirilmesi işlemlerinin yönetilmesi
      Müşteri talep ve şikâyetlerinin yönetilmesi,
      Açık rızanız bulunması halinde, Şirketimizin sunduğu hizmet ve ürün kalitesinin geliştirilmesi ve müşteri
      memnuniyetinin sağlanması için çeşitli kanallar (internet sitesi, sosyal medya platformları vb.) ile tanıtım,
      pazarlama, promosyon, anket, kampanya ve reklam faaliyetlerinin gerçekleştirilmesi, genel ve özel teklifler
      sunulması, bilgilendirme ve iletişim faaliyetlerinin yürütülmesi ve müşterilerin olası taleplerinin önceden
      öngörülebilmesi amacıyla analiz çalışmaları yapılması
      Sosyal medya hesaplarımızın yönetilmesi ve bu kanallar üzerinden bizimle kuracağınız iletişimin yürütülmesi
      Bilgi ve veri güvenliğinin temini, bilgi sistemlerinin sürekliliğinin sağlanması
      Ürünlerimizin ve hizmetlerimizin iyileştirilmesi için gerekli çalışmaların yürütülmesi, raporlama, analiz, iç
      kontrol, denetim, inceleme, soruşturma çalışmalarının yapılması, müşteri memnuniyetinin sağlanması ve taleplerin
      karşılanması
      Güvenliğin sağlanması amacıyla iş yerlerimizde kamera kayıtlarının alınması
      Resmi kurum ve kuruluşların taleplerinin yerine getirilmesi ve şirketimize iletilen kararların uygulanması
      Arşiv ve saklama süreçlerinin yürütülmesi ve
      Şirketimizin faaliyetlerinin yürütülmesi, geliştirilmesi, mevzuata ve prosedürlere uyum sağlanması amaçlarıyla
      sınırlı olarak işlenebilecektir. Ayrıca yukarıda belirtilen kişisel verileriniz, şirketimize ait fiziki arşivler
      ve bilişim sistemlerine nakledilerek, hem dijital ortamda hem de fiziki ortamda muhafaza altında
      tutulabilmektedir.</p>
      <h4>
        Kişisel Verilerin Aktarılması

      </h4>
    <p>
      Toplanan kişisel verileriniz, yukarıda açıklanan amaçlarla Kanun ve ilgili düzenlemeler kapsamında aktarılmasını
      gerektiren sebeple sınırlı olmak kaydıyla size bu hizmeti sunabilmemiz için çağrı merkezine, arşiv, matbaa, kart
      basımı, dağıtım firması gibi hizmet sağlayıcılara ve iş ortaklarımıza, anlaşmalı olarak danışmanlık aldığımız
      avukatlara, resmi kurum ve kuruluşlara, yurtiçindeki ve yurtdışındaki şirketlere aktarılabilecektir.</p>
    <h4>Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h4> 
    <p>Kişisel verileriniz yukarıda belirtilen amaçlarla, Kanun’da öngörülen temel ilkelere uygun ve Kanun’un
      5.maddesinin 2.fıkrasında belirtilen sözleşmenin ifası, hukuki yükümlülüğün yerine getirilmesi, kanunlarda
      öngörülmesi, veri sorumlusunun meşru menfaati hukuki sebeplerine dayalı ve bu sebeplerle sınırlı olarak otomatik
      veya otomatik olmayan aşağıda sayılan yöntemlerle toplanabilmektedir.</p>
    <p>
      İnternet sitesi, çağrı merkezi, sosyal medya kanalları, şirket faaliyetleri kapmasında kullanılan uygulama ve
      yazılımlar.
    </p>
      <h4>Kişisel Verilerin Korunmasına Yönelik Haklarınız</h4>
     
      
    <p>6698 sayılı kanunun 11. Maddesi çerçevesinde şirketimize başvurarak; Kişisel veri işlenip işlenmediğini öğrenme,
      Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
      Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
      Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
      Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,
      Kanun&#39;un 7 nci maddesinde öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini
      isteme,
      Yukarıdaki 5 ve 6. talepler uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere
      bildirilmesini isteme,
      İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir
      sonucun ortaya çıkmasına itiraz etme,
      Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep
      etme haklarına sahipsiniz.
      Yukarıda yapılan açıklamalar çerçevesinde kişisel verilerinizle ilgili başvurularınızı aşağıda belirtilen iletişim
      yöntemlerinden birini kullanarak;</p>
    <p>Kalitte Limited Şirketi, ODTÜ Teknokent Galyum Blok K1/5 Çankaya/Ankara adresine kimlik teyidinizin yapılması sağlanarak
      bizzat; veya
      Şirketimiz merhaba@kasaptanal.com adresine; veya
      Kimlik teyidinizin yapılması sağlanarak, KVK Kanunu ve ilgili mevzuatta belirtilen diğer usuller ile tarafımıza
      iletebilirsiniz.
      Şirketimiz, Kanunu’nun 13. maddesine uygun olarak, başvuru taleplerini, talebin niteliğine göre ve en geç 30
      (otuz) gün içinde sonuçlandıracaktır. İşlemin maliyet gerektirmesi halinde, Kişisel Verilerin Korunması Kurulu
      tarafından belirlenen tarife uygulanacaktır. Talebin reddedilmesi halinde, red nedeni/nedenleri yazılı olarak veya
      elektronik ortamda gerekçelendirilecektir.</p>


  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>