<%-include('./_partial/food-select-alternatives.ejs', {}) %>

<h2>
    <a href="https://en.wikipedia.org/wiki/Liver_(food)" target="_blank">Ciğer</a> için dünyanın en besleyici gıdası
    ifadesini kullanmak yanlış olmaz.

</h2>
<p>
    Ciğer, pek çok değerli <a target="_blank" href="https://g.co/kgs/Ec55YK">vitamin ve mineral</a> içerir. Ayrıca,
    düşük kalori ve yüksek
    protein oranı ile en sağlıklı gıdalardan birisidir.
</p>
<p>

</p>
<p>
    Bu makalemizde haftada en az bir kez tüketmenizi önerdiğimiz ciğer hakkında bilgiler vereceğiz.
</p>

<h2>
    Ciğer Nedir?
</h2>
<p>
    Ciğer, <a href="/sakatat">sakatat</a> olarak adlandırdığımız grup içerisindedir. <a href="/kuzu-ciger">Kuzu</a> veya
    <a href="/dana-ciger">danadan</a> elde edilen hayvanın en büyük organıdır.
</p>
<p>
    <a href="/kuzu-ciger">Kuzu ciğer</a> ve <a href="/dana-ciger">dana ciğer</a> içerdikleri vitamin ve mineraller
    açısından neredeyse aynıdır.
</p>
<p>
    Modern toplumlarda çoğunlukla kırmızı et tüketimi daha ağırlıklı olsa da sakatat grubu içerisindeki ciğer dahil
    pek çok organ inanılmaz derecede sağlıklı ve besleyicidir.
</p>
<div class=" mb-3">
    <%- include('./_partial/category-products-slider', {title: 'Sağlıklı Sakatat Ürünlerimiz', limit: 4, category: 'sakatat'}); %>

</div>
<h2>
    Ciğer Besin Değerleri
</h2>
<p>
    Ana besin grupları, vitamin ve mineraller açısından ciğer inanılmaz sağlıklı ve besleyicidir.
</p>
<h3>
    Ana Besin Grupları
</h3>
<p>Kaynak olarak kullandığımız <a href="https://fdc.nal.usda.gov" target="_blank">USDA</a> (Amerika Birleşik Devletleri
    Tarım Bakanlığı) <a target="_blank" href="https://g.co/kgs/Ec55YK">Ciğer besin değerleri</a> tablosuna göre 100 gram
    ciğer;
</p>
<ul>
    <li>
        <strong>165 kaloridir</strong>. Aynı ağırlıktaki <a href="/antrikot">dana antrikot</a>un <strong>271</strong>
        kalori olduğu düşünülürse ciğer düşük kalorili bir gıdadır.

    </li>
    <li>
        <strong>4.4 gram</strong> yağ içermektedir. Bunun sadece <strong>1.4 gramı</strong> doymuş yağdır.
    </li>
    <li>
        Tam <strong>26 gram</strong> kaliteli protein içerir.
    </li>
</ul>
<h3>Vitamin ve Mineraller (*)</h3>
<ul>
    <li>
        
        <strong>B12 Vitamini:</strong> Günlük ihtiyacın % 3.4'ü. B12 vitamini, kırmızı kan hücrelerinin ve DNA'nın oluşumuna yardımcı
        olur. Aynı zamanda sağlıklı beyin fonksiyonunda da rol oynar.
    </li>
    <li>
    <strong>
        A Vitamini:</strong> Günlük ihtiyacın ortalama on katı. A vitamini normal görme, bağışıklık fonksiyonu ve üreme için
        önemlidir. Ayrıca kalp ve böbrekler gibi organların düzgün çalışmasına yardımcı olur.

    </li>
    <li>
    <strong> Riboflavin (B2):</strong> Günlük ihtiyacın ortalama iki katı. Riboflavin, hücresel gelişim ve işlev için önemlidir. Ayrıca
        yiyeceğin enerjiye dönüştürülmesine yardımcı olur.

    </li>
    <li>
    <strong>
        Folat (B9):</strong> Günlük ihtiyacın %65'i. Folat, hücre büyümesinde ve DNA oluşumunda rol oynayan temel bir besindir.

    </li>

    <li>
    <strong>
        Demir:</strong> Günlük ihtiyacın % 80'i. Demir, vücutta oksijenin taşınmasına yardımcı olan
        başka bir temel besindir. Karaciğerdeki demir, vücut tarafından en kolay emilen tür olan hem demirdir.

    </li>
    <li>
    <strong>
        Bakır:</strong> Günlük ihtiyacın ortalama on beş katı. Bakır, daha sonra enerji üretimini, demir metabolizmasını ve beyin fonksiyonunu
        düzenlemeye yardımcı olan bir dizi enzimi harekete geçirmek için bir anahtar görevi görür.

    </li>
    <li>
    <strong>
        Kolin:</strong> Günlük ihtiyacın neredeyse tamamını sağlar. Kolin, beyin gelişimi ve karaciğer fonksiyonu için
        önemlidir.

    </li>
</ul>
<p>
    (*) Kaynak: <a target="_blank" href="https://www.healthline.com/nutrition/why-liver-is-a-superfood">Healthline - Ciğer neden süper gıdadır?</a>
 </p>

<h3>Kuzu Ciğeri ve Dana Ciğeri</h3>
<p>
    Besin değerleri açısından bakıldığında <a href="/kuzu-ciger">Kuzu Ciğer</a> ve <a href="/dana-ciger">Dana Ciğer</a> arasında önemli bir fark bulunmamaktadır.
</p>
<p>
    Aşağıdaki tablo kuzu ciğer ve dana ciğer arasındaki çeşitli besin değerleri farklarını içermektedir. Daha az yağ ve daha fazla protein almak istiyorsanız <a href="/dana-ciger">dana ciğeri</a> tercih edebilirsiniz.
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            100gram
        </th>
        <th>
            Kuzu Ciğer
        </th>
        <th>
            Dana Ciğer
        </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            Kalori
        </td>
        <td>
            139
        </td>
        <td>
            165
        </td>

    </tr>
    <tr>
        <td>
            Yağ
        </td>
        <td>
            5
        </td>
        <td>
            4.4
        </td>

    </tr>

    <tr>
        <td>
            Karbonhidrat
        </td>
        <td>
            1.8
        </td>
        <td>
            3.8
        </td>

    </tr>
    <tr>
        <td>
            Protein
        </td>
        <td>
            20
        </td>
        <td>
            26
        </td>

    </tr>
</tbody>
</table>

<h2>Yüksek Protein</h2>
<p>
    Ciğer ağırlığının neredeyse dörtte biri yüksek kaliteli proteinden oluşmaktadır. Tüm aminoasitleri içeren protein özelliği ile ciğer, kilo vermek isteyenler ve sporcular için oldukça sağlıklıdır.
</p>
<h2>
    Kırmızı Et ve Ciğer
</h2>
<p>
    Doymuş yağ oranı düşük <a target="_blank" href="/kuzu-etleri">kuzu eti</a> veya <a href="/dana-etleri">dana eti</a> oldukça besleyici ve sağlıklıdır. Bitkisel gıdalara göre kırmızı etin doymuş yağ oranı yüksek olmakla birlikte son araştırmalar göstermektedir ki kalp krizi ile doymuş yağ arasında bir bağ bulunmamaktadır (<a href="https://www.healthline.com/nutrition/saturated-fat">1</a>, <a target="_blank" href="https://www.webmd.com/heart-disease/news/20140320/dietary-fats-q-a">2</a>).
</p>

<p>
  Ciğer, kırmızı et ile karşılaştırıldığında daha az doymuş yağ ve kolesterol içermektedir. Buna rağmen yüksek A vitamini içeren ciğerin her gün tüketilmesi önerilmemektedir.  
</p>
<p>
    Önerimiz haftada bir veya en fazla iki kez ciğer tüketmeniz yönündedir.
</p>

<h2>
    Ciğer Yemek ve Tarifleri
</h2>

<p>
    <a href="/et-yemekleri/arnavut-cigeri">Arnavut Ciğeri</a> en bilindik ciğer yemeklerindendir diyebiliriz.
</p>
<h3>Sağlıklı ve pratik ciğer tarif önerisi</h3>
<p>
    <ol>
        <li>
            Lezzet tercihinize göre 1kg <a href="/kuzu-ciger">kuzu ciğer</a> veya <a href="/dana-ciger">dana ciğer</a> alın. Kasaplarımız ciğeri kuşbaşı olarak doğramaktadırlar.
        </li>

        <li>
            20 gram sızma zeytinyağı ile tavada pişirin. 
        </li>
        <li>
            Pişmeye yakın üzerine sarımsak tozu, kekik, kırmızı biber, tuz ve kimyon atın.
        </li>
        <li>
            5 parçaya bölüp derin dondurucuya koyun. Haftada bir veya iki kez çıkarıp afiyetle yiyin.
        </li>
    </ol>
</p>
<h2>
    Kasaplarımızdan Doğal ve Taze Ciğer 
</h2>
<p>
    KasaptanAl.com olarak sağlıklı beslenmenizi önemsiyoruz. Ciğeri, sağlıklı beslenmenin önemli bir parçası olarak görüyoruz.
</p>
<p>
    İşinde usta <a href="/kasaplar">kasap</a> iş ortaklarımızdan güvenle <a href="/kuzu-ciger">kuzu ciğer</a> veya <a href="/dana-ciger">dana ciğer</a> satın alabilirsiniz.
</p>
<div class=" mb-3">
    <%- include('./_partial/category-products-slider', {hideTitle: true, title: 'Sağlıklı Sakatat Ürünlerimiz', limit: 8, category: 'sakatat'}); %>

</div>