<h2>Kârlı ve kolay kasap alışverişi</h2>
<p>
    Anlaşmalı Kasap Kart&trade; iş ortağı kasaplarımızdan yaptığınız alışverişler sizelere puan kazandırır. 

</p>
<p>
    Biriken puanlarınızı sonraki alışverişlerinizde kullanabilir ve Kasap Kart&trade; ile alışverişlerinizi daha kârlı hale getirebilirsiniz.
</p>
<h2>Kırmızı et düzenli ihtiyaç ve sabit gider</h2>
<p>
    Hepimiz için kırmızı et tüketmek düzenli bir ihtiyaç. 
    Bu ihtiyacınızı en seçkin kasaplarla anlaşarak kasaptanAl.com olarak karşılamaya çalışmaktayız.
    Kasap Kart&trade; ile hedefimiz ayrıca sizlerin bütçesine de katkı sağlamak.


</p>
<h2>Online kasap, online ödeme, online kazanç</h2>
<p>

  Puan hazanmak için Kasap Kart&trade; iş ortağı programına dahil olan kasaplarımızdan alışveriş yapmanız ve güvenli online ödeme sitemimiz ile ödeme yapmanız yeterli. 



</p>

<p>

    Kasap Kart&trade; iki tip puan kazandırmakta.

    <ol>
        <li>
            kasaptanAl.com puanlarınızı tüm anlaşmalı kasaplarımızda kullanabilirsiniz.
        </li>
        <li>
            Kasap puanlarınızı sadece puanı kazandığınız kasap alışverişlerinde kullanabilirsiniz.
        </li>
    </ol>

    Biriken puanlarınızı <a href="/user/puans">Kasap Kart Puanlarım</a> sayfasında anında görüntüleyebilir ve takip edebilirsiniz.


</p>

<p>
<strong>Online et siparişi</strong> hizmeti sağlayan kasaptanAl.com olarak,
    <strong>en iyi eti</strong> en iyi <strong>kasaplardan</strong> en uygun <strong>et fiyatlarıyla</strong> müşterilerimize sunma vizyonumuzun bir parçası
    olarak geliştirdiğimiz Kasap Kart&trade; ile ilgili her türlü sorularınız için iletişim adreslerimizi ve destek hattımızı 
    kullanabilirsiniz.
</p>
<div class="text-center mb-3">
    <a class="btn btn-primary btn-shadow "
    href="/kasap-urunleri">Alışverişe Başlayın<i
        class="czi-arrow-right ml-2 mr-n1"></i></a>
</div>