<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

              <li class="breadcrumb-item active" aria-current="page">Kasap Seçim Kriterlerimiz</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">Kasap Seçim Kriterlerimiz</h1>
        <p class="lead">
          
        </p>


      </div>
    </div>

  </div>







  <div class="container mb-3 ">


    <main class="container-fluid px-0">
      <!-- Row: Shop online-->
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(/urun-resimleri/dana-otlu-bonfile-76-3-245.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Çok Kısa ve Net</h2>
  


            <p class="font-size-sm text-muted">Kasabımızı ziyaret ediyoruz ve aşağıdaki kriterleri yerinde inceliyoruz.</p>
        <p class="font-size-sm text-muted">
          <ol class="font-size-sm text-muted">
            <li>
              En az 5 yıldır aynı lokasyonda hizmet veriyor olmak.
            </li>
            <li>
              En az 10 yıldır bu mesleği yapıyor olmak.
            </li>      
            <li>
              Meslek hayatı boyunca hiçbir ceza almamış ve yüz kızartıcı şuç işlememiş olmak.
            </li>    
            
  
          </ol>
        </p>


          
   

            </div>
        </div>
      </section>
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
          style="min-height: 15rem; background-image: url(/urun-resimleri/kuzu-pirzola-1-1-880.jpg);"><span
            class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Teknik Kriterler</h3>
            <p class="font-size-sm text-muted">
              Aşağıdaki teknik kriterleri yerine getiriyor olmak.
            </p>
            <ol class="font-size-sm text-muted">
   
             

        
                <li>
                  Temizlik ve Hijyen Kurallarının işletme tarafından titizlikle uygulanıyor olması.
                </li>
                <li>
                  Yapı ve Personel yeterlilik kriterlerinin yerine getiriliyor olması.
                </li>
                <li>
                  Ekipman ve donanım kriterlerinin yerine getiriliyor olması.
                </li>
                <li>
                  Güvenlik kriterlerinin yerine getiriliyor olması.
                </li>
                <li>
                  Soğuk zincir ve araç temizlik kriterlerinin yerine getiriliyor olması.
                </li>
                </ol>
          </div>
        </div>
      </section>
    </main>


  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>