

<p>
    Her sektörün duayen isimleri vardır. 
</p>

<p>
    Örneğin okumaya meraklıysanız <a class="font-weight-bold" target="_blank" href="https://www.britannica.com/biography/Leo-Tolstoy">Leo Tolstoy</a>’un romanlarındaki nazik anlatım, mimariye meraklıysanız <a class="font-weight-bold" target="_blank" href="https://en.wikipedia.org/wiki/Mimar_Sinan">Mimar Sinan</a>’ın ince zekâsının tasarımlarında vücut bulması sizi derinden etkiler.
</p>


<p>
    Eğer et dünyasındaysanız bu isimlerin başında şüphesiz <strong>Cüneyt Asan</strong> gelir. 

</p>

<h3>
    USTALARIN USTASI
</h3>
<p>
    Cüneyt Asan 1959 yılında Erzincan’da doğmuştur. İlkokul üçüncü sınıfta kasaplık mesleğine adımını atmıştır. 

</p>
<div class="row ">
<div class="col-sm-6 mb-3">
    <img class="rounded-lg img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-steak.jpg" alt="Cüneyt Asan">

</div>
<div class="col-sm-6">


    <p>
       
        <strong>Zamanla bu iş için dünyaya gönderildiğine inanmış</strong> ve inancının gereğini yaparak devrim niteliğindeki tüm fikirlerini hayata geçirmiş ve halen tüm gücüyle çalışmaktadır.
       
         
     </p>

     <p>
        Sektörde pek çok insan yetiştirmiştir.
        <strong>
            Türkiye’de, Moskova’da, Dubai’de, Katar’da, Londra’da
           </strong>
            yüzlerce kişi Cüneyt Asan'ın tezgâhından geçip büyümüş, kendisi sektörde duayen bir rol model olmuştur. 
     </p>


</div>
</div>
<h3>
    İNOVASYON ve GİRİŞİMCİ RUHU
</h3>
<p>
    
        Kasaplık sektöründe <strong>devrim niteliğinde ilkleri gerçekleştirmiştir.</strong>
</p><p>
 Kasaba ilk köfteyi koyan, çocukları çeken, kadının işini kolaylaştıran, ilk tavuğu parçalayan ve tavuktan ürünler yapan Cüneyt Asan olmuştur. 

</p>





<div class="row ">
    <div class="col-sm-6 order-md-2">
        <img class="mb-3 rounded-lg img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-kitchen.jpg" alt="Cüneyt Asan">

    </div>

    <div class="col-sm-6 mb-3 order-md-1">
        <p>
            Ticari kariyerini bir tarafa bıraktığımızda Cüneyt Asan, yeni tatlar, sunumlar ve lezzetlerin peşinden koşmayı ilke edinen, ülkesi için hep üreten, yorulmadan, yılmadan, bıkmadan hayallerini gerçekleştiren bir <strong>USTA’dır...</strong> 
        
        
        </p>
        
        <p>
            Et konusunda doyurucu bilgiler veren <a target="_blank" href="http://etinkitabi.com/">Et’in Kitabı</a> isimli kitabıyla bir <strong>YAZAR’dır…</strong> 
        
        </p>
        
        <p>
        Televizyon programları, makaleler ve layık görüldüğü pek çok ulusal ve uluslararası ödülle, mütevazi kişiliğiyle örnek bir <strong>İNSAN’dır…</strong> 
        
        </p>
        
    </div>

    </div>





<h3>
    2020 ile yeni bir konsept geldi. Cüneyt Usta Kasap’ları.

</h3>

<p>
    Cüneyt Usta Kasapları, kasaplık kültürüne yepyeni bir yaklaşım ve değer katmak amacıyla Cüneyt Asan'ın yılların deneyimiyle ortaya çıkardığı bir vizyon olarak ön plana çıkmaktadır.

</p>

<div class="row ">

    <div class="col-sm-6">
        <img class="mb-3 img-responsive" src="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-kasap-dukkan.jpg" alt="Cüneyt Usta Kasap">

    </div>

    <div class="col-sm-6 mb-3">
      


        <p>
            Eskilerin bildiği ve kültürümüzün bir parçası olan ancak modern yaşamın bize unutturduğu <strong>yüzyıllık tatları gün yüzüne çıkarmak</strong> ve yeniden hak ettikleri değerleri hatırlatmak da bu vizyonun bir parçasıdır.
        
        </p>
        
        <p>
            Pişirmeye hazır nefis tatlardan modern yöntemlerle <strong>kuru ve ıslak dinlendirilen (<a href="/dry-wet-aged-etler">Dry Aged/Wet Aged</a>) yüksek kaliteli etlere</strong>, doğal şarküteri ürünlerine ve pek çok butik kasap lezzetlerine et severleri ulaştırmak bu vizyonun bir diğer parçasıdır.
        
        </p>
    </div>
    </div>









<h3>
    Gururluyuz ve heyecanlıyız

</h3>
<p>
    <a href="/">KasaptanAl.com</a> ismimizden de anlaşıldığı gibi kasap kalitesinde et sağlamak için çabalıyoruz. Çünkü biliyoruz ki <strong>kaliteli et doğru kasaptan</strong> alınır.

</p>

<p>
    Bu inancımızla kasaplık mesleğine saygı duyuyor ve bu mesleği teknoloji konusundaki deneyimlerimizle bir adım öne götürmeyi hedefliyor, <strong>sadece ülkemizde değil tüm dünyada</strong> önemli bir platform olma amacıyla çalışıyoruz.

</p>
<p>
    Bir dünya kasabı ile birlikte çalışma şansını yakalamamız bizleri de onurlandırmakta. <a href="/cuneytusta.etiler">Cüneyt Usta Kasap Etiler</a> ve <a href="/cuneytusta.atasehir">Cüneyt Usta Kasap Ataşehir</a> dahil tüm şubelerinin eşsiz lezzetlerini güvenle KasaptanAl.com üzerinden sipariş verebilirsiniz.

</p>

<p>
    Hiç unutmamak dileğiyle, <strong>“Et Kasaptan Alınır”</strong>. Online <a href="/">kasap sipariş</a> platformumuzdan güvenle et siparişi verebilirsiniz.  

</p>



<p class="font-size-sm text-muted">
    Not: Cüneyt Asan Biyografisi için <a href="<%=__config.staticDomain %>/content-resimleri/cuneyt-asan-biyografisi.pdf">burayı</a> kullanabilirsiniz.
</p>

