<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

              <li class="breadcrumb-item active" aria-current="page">İletişim</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">İletişim</h1>
        <p class="lead">
          
        </p>


      </div>
    </div>

  </div>






  <section class="container-fluid ">
    <section class="row no-gutters">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/metu.jpg);"><span class="split-section-arrow arrow-left"></span></div>
      <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h2 class="h3 pb-3">Kalitte Profesyonel Bilgi Teknolojileri Ltd. Şti.</h2>



          <p class="font-size-sm text-muted">2008 yılından bugüne bilgi teknolojileri danışmanlığı, yetkin işgücü temini ve yazılım geliştirme alanlarında hizmet vermekteyiz.</p>
      
        
 

          </div>
      </div>
    </section>
    
    <div class="row pt-grid-gutter">
      <div class="col-xl-3 col-md-6 mb-grid-gutter"><a class="card" href="#map" data-scroll>
          <div class="card-body text-center"><i class="czi-location h3 mt-2 mb-4 text-primary"></i>
            <h3 class="h6 mb-2">Yerleşim</h3>
            <p class="font-size-sm text-muted">Orta Doğu Teknik Üniversitesi Teknokenti</p>
            <p class="font-size-sm text-muted">Galyum Blok K1-5 Çankaya/Ankara</p>
            <!-- <div class="font-size-sm text-primary">Click to see map<i class="czi-arrow-right align-middle ml-1"></i></div> --> 
          </div></a></div>
      <div class="col-xl-3 col-md-6 mb-grid-gutter">
        <div class="card">
          <div class="card-body text-center"><i class="czi-time h3 mt-2 mb-4 text-primary"></i>
            <h3 class="h6 mb-3">Çalışma Saatlerimiz</h3>
            <ul class="list-unstyled font-size-sm text-muted mb-0">
              <li>Pazartesi - Cuma: 9AM - 6PM</li>
              <li class="mb-0">Cumartesi: 10AM - 4PM</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-grid-gutter">
        <div class="card">
          <div class="card-body text-center"><i class="czi-phone h3 mt-2 mb-4 text-primary"></i>
            <h3 class="h6 mb-3">Telefon Numaralarımız</h3>
            <ul class="list-unstyled font-size-sm mb-0">
              <li><span class="text-muted mr-1">Destek:</span><a class="nav-link-style" href="tel:08503054216">0 850 305 4216</a></li>
              <li class="mb-0"><span class="text-muted mr-1">Kurumsal:</span><a class="nav-link-style" href="tel:+903122101088">0 312 210 1088</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-grid-gutter">
        <div class="card">
          <div class="card-body text-center"><i class="czi-mail h3 mt-2 mb-4 text-primary"></i>
            <h3 class="h6 mb-3">E-Posta Adreslerimiz</h3>
            <ul class="list-unstyled font-size-sm mb-0">
              <li><span class="text-muted mr-1">Destek:</span><a class="nav-link-style" href="mailto:merhaba@kasaptanal.com">merhaba@kasaptanal.com</a></li>
              <li class="mb-0"><span class="text-muted mr-1">Kurumsal:</span><a class="nav-link-style" href="mailto:bilgi@kalitte.com.tr">bilgi@kalitte.com.tr</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>