<h2>3d Biftek</h2>
<p>
    Barselona merkezli Nova Meat adlı et şirketi, kısa bir süre önce bezelye, pirinç, deniz yosunu ve diğer maddelerden
    elde edilen bitki bazlı bir biftek üretti.
</p>

<p>
    Bu teknoloji, ince tellerin çapraz geçişli birleşimi yöntemiyle, kas hücrelerindeki proteinleri taklit ediyor.


</p>

<p>

    Nova Meat şirketinden Guiseppe Scionti nasıl üretildiğini şöyle anlatıyor:


</p>

<p>

    "Bu strateji bize elde edilen ürünü, çiğnenebilir olması, gerilebilmesi ve basınca dayanıklılığı açısından
    değerlendirmemize olanak sağlıyor. Ayrıca farklı et ve deniz ürünlerinin tadı ve besin özellikleri, fiziki
    özellikleri açısından benzerinin yapılabilmesini mümkün kılıyor."


</p>

<p>

    Scionti'ye göre gelecek yıldan itibaren restoranlar 3 boyutlu yazıcılar sayesinde kendi bifteklerini kendileri
    basabilecek.
</p>

<p>
    3d biftekler restoranlarda yerini almadan en doğalını seçkin kasaplarımızdan alın. <a href="/dana-etleri">Dana Etleri</a> reyonumuza göz atabilir veya direkt <a href="/dana-biftek">dana biftek ürünümüzü</a> ziyaret edebilirsiniz.
</p>
<p>
    <small>Kaynak: </small> <a target="_blank" href="https://www.bbc.com/turkce/haberler-dunya-51623823">BBC Türkçe Haberler</a>
</p>