<blockquote class="blockquote">
  <p>
    <strong>Kasap</strong>, besi hayvanlarının kesimi, derilerinin yüzülmesi, depolanması ve etlerinin satımı
    etkinliklerinden herhangi
    birini ya da bu dört görevi birlikte yapan kişidir.
  </p>
  <p>


    <strong><a href="/kasaplar">Kasaplar</a></strong>; kırmızı ve beyaz eti
    satışa ve kullanıma hazır duruma getirir, perakende veya toptan olarak satışa sunar.
    Kasaplık yapan kişi, ürettiği etleri büyük marketlerde, kasap dükkânlarında ve dükkânlarda satışa sunabilir veya
    bizzat bu satışı gerçekleştirebilir.
  </p>
  <p>
    Görevleri çiftlik hayvanlarının evcilleştirilmesine kadar uzanan kasaplar, İngiltere'de 1272'de ilk kasap
    loncalarını kurdu. Bugünse kasaplık yapabilmek, birçok ülke tarafından sertifikaya dayalı, denetlenir bir sistem
    içinde yapılabilmektedir. Bazı ülkelerde üç yıllık kasap çıraklığından sonra ancak kasap olma yetkisine sahip
    olunabilmektedir.
  </p>
  <footer class="blockquote-footer">Wikipedia <cite title="Kasaplar">Kasaplar</cite></footer>
</blockquote>

<p>
  Biraz uzun olmakla iş çiftlik hayvanlarının evcilleştirilmesine kadar, 1200'lere kadar dayanıyor.
</p>
<h2>
  Kasap kelimesi tarihçesi
</h2>
<blockquote class="blockquote">
  <p>
    Arapça ḳṣb kökünden gelen ḳaṣṣāb قصّاب "kesimci, kesen, et kesip satan kimse" sözcüğünden alıntıdır. Arapça
    sözcük Arapça ḳaṣb "kesme" sözcüğünün meslek adıdır.
  </p>
  <footer class="blockquote-footer">Etimoloji Türkçe<cite title="Kasap">Kasap Kelimesi</cite></footer>

</blockquote>

<h2>
  Tarihçe
</h2>
<p>
  Bu fotoğrafa bayılacaksınız.
</p>
<img src="<%=__config.staticDomain %>/content-resimleri/kasaplar-tarihce.png" alt="Tarihi Kasap Resmi">
<p class="text-muted font-size-sm">Kaynak: https://www.kelambaz.com/osmanlida-kasaplik</p>

<h2>
  Kasap Dükkanları
</h2>
<p>
  Teknolojinin de gelişmesiyle birlikte, yıllar öncesinde sırtlarda yapılan kasaplık mesleği artık çağdaş, şık görünümlü
  kasap dükkanlarında yapılmakta.
  Bu fotoğrafa da bayılacaksınız.
</p>
<img src="<%=__config.staticDomain %>/content-resimleri/modern-kasap-dukkani.jpg" alt="Modern Kasap Dükkanı">
<p class="text-muted font-size-sm">Kaynak: https://www.yatzer.com</p>

<h2>
  KasaptanAl.com ile Kasaplar artık Online
</h2>
<p>
  Sunduğumuz platform ile hedefimiz çok net.
</p>
<p class="font-weight-bold">
  İyi eti, iyi kasaplardan, hızlı ve güvenli şekilde sizlere ulaştırmak.
</p>
<p>
  Kısacası "<strong>en iyi online et sipariş</strong>" deneyimini yaşatmak.
</p>
<p>
  Bu hedefimiz doğrultusunda, sanatkâr edasıyla çalışan, mesleğini severek yapan <strong>usta kasaplar</strong>la iş ortaklıklarımızı
  artırıyoruz, sitemizi devamlı geliştiriyor, teknolojinin sunduğu tüm imkânları sonuna kadar kullanmaya gayret
  ediyoruz.
</p>
<p>
  <a href="/istanbul-kasap"> İstanbul'un en iyi kasapları</a>,
  <a href="/ankara-kasap">Ankara'nın en iyi kasapları</a>, <a href="/izmir-kasap">İzmir kasapları</a> veya diğer tüm illerin <a href="/kasaplar">en iyi kasapları</a> ile çalışmak en büyük hedefimiz.
</p>

<p>
  <a href="/">KasaptanAl.com</a> ekibi olarak tüm kasap iş ortaklarımıza teşekkür ediyoruz.
</p>