<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

              <li class="breadcrumb-item active" aria-current="page">Yardım</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">Yardım</h1>
        <p class="lead">

        </p>


      </div>
    </div>

  </div>







  <div class="container font-size-md mb-3 ">
    <section class="row no-gutters">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(<%=__config.staticDomain %>/resource/img/content/about-01.jpg);"><span class="split-section-arrow arrow-left"></span></div>
      <div class="col-md-6 px-3 px-md-5 py-5">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">

<h3 class="h4">Destek için buradayız</h3>
      <div class="font-size-md">
        <p>
          KasaptanAl.com ile amacımız, kaliteli et ürünlere hızlıca ulaşmanızı sağlamak ve sizlere farklı bir satın alma deneyimi sunmak.
        </p>
        <p>
          Bunun için <a href="/kasap-secim-kriterleri">sadece seçkin kasaplarla </a> çalışıyoruz, web sitemizi en güncel teknolojik imkanlarla donatıyoruz.
        </p>
        <p>
          Bizlere ulaşmak için aşağıdaki yöntemleri kullanabilirsiniz:
          <ul>
            <li><a  target="_blank" href="https://wa.me/908503054216?text=<%-`Merhaba, kasaptanal.com üzerinden size ulaşıyorum.`%>">
              
              WhatsApp Destek</a> hattımızı kullanın.</li>

            <li>
              <a href="mailto:merhaba@kasaptanal.com">merhaba@kasaptanal.com</a> adresine e-posta mesajı gönderin.
            </li>

            <li>
              
                <a href="tel:08503054216">0 850 305 4216</a> destek telefonumuzu arayın.
             
            
            </li>
          </ul>
        </p>
      </div>    
      
        
 

          </div>
      </div>
    </section>

    <section class="row no-gutters">
      <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" 
      style="min-height: 15rem; background-image: url(<%=__config.staticDomain%>/kategori-resimleri/bebeklere-ozel-etler-15-1-942-thumbnail.jpg);"><span class="split-section-arrow arrow-right"></span></div>
      <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
        <div class="mx-auto py-lg-5" style="max-width: 35rem;">
          <h3 class="h4">Sıkça Sorulan Sorular</h3>
          <div class="accordion" id="methods">
            <div class="card">
              <div class="card-header">
                <h3 class="accordion-heading"><a href="#methodOne" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="methodOne">Sistem nasıl işliyor<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
              </div>
              <div class="collapse show" id="methodOne" data-parent="#methods">
                <div class="card-body font-size-md">
                  <ol>
<li>
  Değerli müşterilerimiz sitemiz üzerinden ürünleri ve lokasyonlarını seçmekteler.
</li>
<li>
  Web sitemiz, seçtiğiniz lokasyonda bulunan seçkin kasaplarımızı listelemekte.
</li>
<li>
  İletişim bilgilerinizi almaktayız ve siparişinizi kasabımıza iletmekteyiz.
</li>
<li>
  Satın aldığınız ürünleri belirlediğiniz saatte size ulaştırmaktayız.
</li>
                  </ol>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="accordion-heading"><a class="collapsed" href="#methodTwo" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="methodTwo">Ödemeyi nasıl yapabilirim?<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
              </div>
              <div class="collapse" id="methodTwo" data-parent="#methods">
                <div class="card-body font-size-md">
                  <p>
                    Ödemeyi kapıda kredi kartınız veya nakit olarak yapabilirsiniz.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h3 class="accordion-heading"><a class="collapsed" href="#methodThree" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="methodThree">Nasıl sipariş verebilirim?<span class="accordion-indicator"><i data-feather="chevron-up"></i></span></a></h3>
              </div>
              <div class="collapse" id="methodThree" data-parent="#methods">
                <div class="card-body font-size-md">
                  <p>
                    Sipariş vermek için tek yapmanız gereken üye olmak.
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    



    <div>

    </div>


  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>