<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

              <li class="breadcrumb-item active" aria-current="page">Kullanıcı Sözleşmesi</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">Kullanıcı Sözleşmesi</h1>
        <p class="lead">
          
        </p>


      </div>
    </div>

  </div>







  <div class="container mb-3 ">


    <main class="container-fluid px-0">
      <!-- Row: Shop online-->
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(img/about/01.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h2 class="h3 pb-3">Hikayemiz</h2>
  


            <p class="font-size-sm text-muted">Et sevenlerdeniz, etsiz yapamıyoruz, doyamıyoruz.</p>
        
            <p class="font-size-sm text-muted">Hal böyle olunca da iyi etin peşine düşüyoruz, iyi eti bulup farklı yemekler yapıp tatmaktan zevk alıyoruz. </p>
            
            <p class="font-size-sm text-muted">"Et Kasaptan Alınır" derler ya, geçekten doğru...</p>

          
   

            </div>
        </div>
      </section>
      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2" style="min-height: 15rem; background-image: url(img/about/02.jpg);"><span class="split-section-arrow arrow-right"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
            <h3 class="h4">Acaba dedik</h3>
            
            <p class="font-size-sm text-muted">Acaba tüm kasapları bir arada görsek, kasaplarımızı daha yakından tanısak, tanıtsak nasıl olur diye düşledik. Düşlemekle kalmadık, büyük bir azimle düşümüzü gerçekleştirmek için çalıştık.</p>
            
            <p class="font-size-sm text-muted">Çalıştıkça büyüdük, kasapların yanına etleri de katalım dedik, kattık. </p>
            
            <p class="font-size-sm text-muted">Durmadık, etlerin yanına yemekleri de katalım dedik, kattık.</p>
            
            <p class="font-size-sm text-muted">Sadece görmeyelim, bir tıkla sipariş de alabilsin kasaplarımız dedik kolları sıvamışken, bunu da yaptık.</p>
            
  
          </div>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 bg-position-center bg-size-cover bg-secondary" style="min-height: 15rem; background-image: url(img/about/03.jpg);"><span class="split-section-arrow arrow-left"></span></div>
        <div class="col-md-6 px-3 px-md-5 py-5">
          <div class="mx-auto py-lg-5" style="max-width: 35rem;">
  

            <h3 class="h4">Ortaya bu çıktı; </h3>
            
            <p class="font-size-sm text-muted">Tüm lezzetleri en güzel resimleriyle görebiliyoruz, pişmişini de çiğ olanını da. Önce gözümüz doysun istedik. Bu lezzetlerle ne yemekler yapılabilir görebiliyoruz. Hangi yemeğe göre et nasıl hazırlansın, otomatik not üretebiliyor sistemimiz. Semtinizdeki kasapları listeliyor, sipariş alıyor, kasabımıza iletiyor.</p>
            
            <p class="font-size-sm text-muted">Tamamını, yazılımın kendi dahil biz yaptık. Çok yorulduk ama daha işin başındayız. İyi etin güvenilir adresi olmak kolay değil farkındayız.</p>
            
            <p class="font-size-sm text-muted">Eğlenceye hoş geldiniz, sefalar getirdiniz. Kasaplarımız da incelik gösterdiler. İlk siparişinize %5 indirim sizi bekliyor. </p>
         
            <p class="font-size-sm text-muted">Denemeye <a href="/denemelikler">Denemeliklerden</a> başlamak gibisi yok.</p>

            </div>
        </div>
      </section>
    </main>


  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>