<h2>Taklit edilmekten mutluyuz!</h2>

<p>
    Gerek sahada gerek yazılım ofisimizde uzun süren ar-ge çalışmalarıyla KasaptanAl.com'u şekillendirdik.
    Örneğin sahada, saatler boyunca pek çok kasap dükkanında bekledik, müşterileri gözlemledik. Kasaptan ne bekliyorlar, taleplerini nasıl iletiyorlar, bu süreci biz nasıl iyileştirebiliriz gibi pek çok parametreyi titizlikle inceledik.
</p>

<p>
    Kasabın sunduğu ürünleri müşteri gözüyle kategorize ettik. <a href="/firinlik-yemeklik-etler">Fırınlık</a>, <a href="/ozel-gun-etleri">özel günler</a>, <a href="/premium-etler">premium</a> gibi kategoriler bu çalışmalarla şekillendi. 
</p>

<p>
    Ürünleri sadece ağırlıkla değil, <strong>tane veya dilimle de </strong> sunmamızın işleri kolaylaştıracağını gördük.
</p>
<p>
    Ürün resimlerini titizlikle seçtik, <strong>et ürünlerini et yemekleriyle</strong> eşleştirdik.
</p>

<p>
    En güncel teknolojiyi kullanarak KasaptanAl.com'u sıfırdan sabahlara kadar kodladık, hala da en iyiyi sunmak için geliştiriyoruz.
</p>
<p>
    Hepsinin sonunda <strong>KasaptanAl.com doğdu!</strong>
</p>

<h2>
    Mutluyuz, gururluyuz
</h2>

<p>
   <i>Görüyoruz ki doğru yapmışız.</i> 
</p>
<p>
<strong>Ülkemizin en köklü kasaplarının</strong> bizleri desteklemesi ve platformumuzda yer alması bizleri gururlandırdı. Tüm müşterilerimizi sipariş sonrası teker teker üşenmeden aradık, mesaj attık. <strong>Size güvenerek sipariş verdim</strong> cümlesi bizleri hem onure etti, hem de ne büyük bir sorumluluğumuz olduğunu tekrar hatırlattı.
</p>
<p>
    <i>Görüyoruz ki doğru yapmışız.</i>   
</p>
<p>
    Kendi internet sitesini kurarak <strong>online et satışı yapan bazı kasaplarımız bizlere o kadar güvendi ki</strong>, büyük emekler vererek kurdukları internet sitelerini kapatıp <strong>KasaptanAl.com'a geçtiler</strong>.
</p>
<p>
    <i>Görüyoruz ki doğru yapmışız.</i>   
</p>
<p>
 Çünkü bizlerden <strong>esinlenenler var oldu!</strong> Kategori sistemimiz kopyalanıyor, ürün açıklamalarımız, resimlerimiz, sitemizdeki notlar, genel işleyiş, metinler ve pek çoğu.
</p>
<p>
    Bundan hiç rahatsızlık duymuyoruz, <strong>aksine mutluyuz</strong>. KasaptanAl.com'u kurarken <strong>o kadar usta kasaplarla çalışmışız ki</strong> acemi kasaplara yol gösterir hale gelmişiz.
</p>
<h2>
    Halâ en iyisi için çalışıyoruz
</h2>
<p>
    İşimiz bitmedi, yeni başlıyor. <strong>Dünyanın en iyi online kasap alışveriş platformu</strong> ve <a href="/kasaplar">ülkemizin en iyi kasaplarıyla</a> müşterilerimizi buluşturmak için yoğun çalışıyoruz.
</p>
<h2>
    Yapay Zekâ 
</h2>
<p>
    Kısa zaman sonra <strong>yapay zekâ</strong> algoritmalarını da sistemimize katarak çok daha akıllı ve keyifli bir alışveriş deneyimi sunacağız.
</p>
<h2>
    Sonsuz teşekkürler!
</h2>
<p>
    Bizlere desteklerini esirgemeyen <strong>iş ahlâkı sahibi</strong> tüm kasap dostlarımıza, hiç tanımadığı halde bizlere güvenerek <strong>online et siparişi</strong> veren tüm müşterilerimize ve <strong>hiç yorulmadan çalışan onlarca yazılımcı</strong>, analist ve diğer tüm ekip arkadaşlarımıza sonsuz teşekkürler. 
</p>
