<h2>
    Dinî İbadet
</h2>

<p>
    Sözlükte yaklaşmak, Allah’a yakınlaşmaya vesile olan şey anlamlarına gelen kurban dinî bir terim olarak, Allah’a
    yaklaşmak ve O’nun rızasına ermek için ibadet maksadıyla, belirli şartları taşıyan hayvanı usûlüne uygun olarak
    kesmeyi ve bu amaçla kesilen hayvanı ifade eder.
</p>

<p>
    <a target="_blan"
        href="https://kurul.diyanet.gov.tr/Cevap-Ara/657/kurban-ibadetinin-mahiyeti-ve-hukmu-nedir">Diyanet</a>
    tarafından yapılan bu tanımdan yola çıktığımızda, kurban ibadetini <strong>yaratıcıya yaklaşmaya vesile</strong>
    olmak olarak tanımlayabiliriz.
</p>
<h2>
    Maddi ve Manevi Karşılık
</h2>
<p>
    Kurban ibadetini diğer ibadetlerden ayıran bir özelliği maddi bir karşılığının olması. Hal böyle olunca, özellikle
    Kurban Bayram'ında yapılan ibadetlerde, ibadetin temel amacı olan "yaratıcıya yaklaşmak" bazen unutulabilmekte veya
    ikinci plana atılabilmekte.
</p>
<h2>
    Dinî inançlara ve ibadetlere saygılıyız
</h2>
<p>
    Dinî inançlara ve ibadetlere saygılıyız, ibadetlerin doğru yapılması konusunda hassasız. Bu yüzden İslami usullere
    göre hayvan seçimi, helâl kesim ve hazırlama
    konularında deneyimli usta kasap iş ortaklarımızla çalışıyoruz ve kurban kesim hizmeti veriyoruz.
</p>


<h2>
    Helâl Kesim Garantisi
</h2>

<p>
    Helâl kesim garantimiz kapsamında, hayvan kesimi konusunda aşağıdaki tüm hususlara azami özen gösteriyoruz.
</p>

<ol>
    <li>
        Hayvanın yemek ve nefes borularıyla, iki atardamarından en az birinin kesilmesi.

    </li>
    <li>
        Hayvanın canı çıkmadan başının gövdesinden ayrılmaması.

    </li>
    <li>
        Kurban edilecek hayvana olabildiğince acı çektirmemeye ve eziyet etmemeye özen gösterilmektedir. Bu nedenle
        hayvanlar, helâl kesim konusunda usta, deneyimli ve yerel kasaplarımız tarafından kesilmektedir.

    </li>
    <li>
        Çevre temizliği için gerekli tedbirler alınmaktadır.

    </li>
    <li>
        Hayvanların bir diğerinin kesimini görecek şekilde yan yana bulundurulmamalarına azami özen gösterilmektedir.

    </li>
    <li>
        Hayvan kesilirken besmele çekilmektedir.

    </li>
</ol>

<h2>
    Güvenle Bizi Tercih Edin
</h2>
<p>
    Kurban ibadetlerinizde güvenle <a href="/kurban">KasaptanAl.com</a> kalitesini tercih edebilirsiniz.
<ul>
    <li>
        Çünkü sadece yerel, usta kasap iş ortaklarımızla çalışıyoruz.
    </li>
    <li>
        En büyük amacımız kurban ibadetinin doğru yapılmasını sağlamak.
    </li>
    <li>
        Helâl kesim garantisi veriyoruz.
    </li>
</ul>
<h2>
    Kurban İbadeti Hizmetlerimiz
</h2>

<%- include('./_partial/category-products-slider', {limit: 8, category: 'kurban'}); %>



<p>
Kurban ibadeti hizmetlerimiz için hazırladığımız <a href="/kurban">kurban ibadeti</a> sayfasından tüm hizmetlerimize ulaşabilirsiniz. <strong>Online kurban satışı</strong> ve size özel çözümlerimiz hakkında bilgi bu sayfada mevcuttur.
</p>

<h2>

</h2>