<%-include('./_partial/food-select-alternatives.ejs', {}) %>

<h2>
    <a href="https://en.wikipedia.org/wiki/Rib_eye_steak" target="_blank">Wikipedia</a> tanımıyla başlayalım.
    <strong>Antrikot nedir</strong>, <strong>nereden elde edilir</strong>?
</h2>

<blockquote class="blockquote">
    <p class="mb-0">
        Kaburga gözü (ribeye), kaburga bölümünden bir dana eti bifteğidir. Dana eti kaburga bölümü, altı ile on iki
        kaburgaya yayılır. Ribeye biftekleri çoğunlukla longissimus dorsi kasından oluşur, ancak kompleks ve spinalis
        kaslarını da içerir.
    </p>
    <footer class="blockquote-footer">Wikipedia <cite title="Rib eye steak">Rib eye steak</cite></footer>
</blockquote>

<p>
    Oldukça teknik olan bu tanımı özetlersek; <a href="/antrikot">Antrikot</a> dananın göğüs omurları üzerinden boyuna doğru uzanan ettir
    diyebiliriz.
</p>
<p>
    Pek çok kez tekrarlanan <strong>antrikot pişirme usulleri</strong>, <strong>iyi antrikot nasıl anlaşılır</strong>
    gibi popüler konuları atlayarak devam edelim.
</p>

<h2>Kemikli ve Kemiksiz Antrikot</h2>
<p>
Ülkemizde kemikli antrikota verdiğimiz isim <a href="/dana-pirzola">dana pirzola</a>. Yurtdışında kemikli antrikot <i>
    rib steak
</i>, kemiksiz antrikot <i>ribeye steak</i> olaran anılmakta. 
</p>
<h2>
    Kalite Düzeyi
</h2>
<p>
    <a href="/blog/ette-mermerlesme-nedir">Ette Mermerleşme Nedir</a> konu başlığında aktardığımız bazı bilgileri
    özetleyelim.
</p>
<blockquote class="blockquote">
    <p class="mb-0">
        <i>
        Yağın toplanma şekli etin lezzetini belirler. Kalın yağ tabakasının kas etrafında toplanması eti sertleştirir.
        İnce yağ tabakasının mozaik şeklinde kas hücresi etrafında birikmesi eti yumuşatır.
    </i>
    </p>
    <p class="mb-0">
        <i>
        Mermerleşmiş etler daha kolay çiğnenebilir, yumuşak, sulu ve lezzetlidir.
    </i>
    </p>
</blockquote>
<p>
    <a href="/cirali-antrikot">Çıralı antrikot</a> olarak tanımladığımız birebir yukarıdaki tanıma uyan antrikottur.
</p>



<h2>
    Mangal veya Döküm Tava Öncesi Hazırlık
</h2>
<p>
Antrikotu mangalda veya döküm tavada yapacaksanız dikkat etmeniz gereken bir kaç kritik konu var.

<ul>
    <li>
        Etin oda sıcaklığına gelmesini bekleyin. Buzdolabından çıkardıktan sonra en az 2 saat oda sıcaklığında bekletin.
    </li>
    <li>
        Pişirmeden hemen önce tuz ve karabiber ekleyin. Bu ikisi dışında baharat kullanmayın.
    </li>
    <li>
        Sızma zeytinyağ yerine yanma derecesi daha yüksek riviera zeytinyağ kullanın. Zeytinyağ ile tuzu ve karabiberi ete yedirin.
    </li>
</ul>
</p>
<h2>
    Doğru Ateş
</h2>
<p>
    Tercihen döküm tava veya teflon tavada pişirecekseniz, tavayı en az 5 dakika yüksek ateşte ısıtın. Sonrasında çok az zeytinyağ dökün tavaya.

</p>
<p>
    Manfalda pişirecekseniz elinizle ısıyı kontrol edin. Izgaradan üç parmak yukarıda elinizi en fazla beş saniye tutabilecek kadar ateş etkili olmalı.
</p>
<h2>
Pişirdikten Sonrası
</h2>
<p>
En çok dikkat etmeniz gereken konulardan birisi eti pişirdikten sonra iki dakika boyunca dinlendirmeniz. Acele edip hemen yemeyin.
</p>
<div class=" mb-3">
    <%- include('./_partial/foods-slider.ejs', {mode: 'food', allUrl: '/et-yemekleri', title: 'Et Yemekleri', text: '', foods: controller.mangalFoods}); %>
  </div>