<h2>
    Buradan başlayalım: Sağlıklı Beslenme nedir?
</h2>
<p>
    Sağlıklı beslenmenin pek çok tanımı yapılabilir. 
    <a target="_blank" href="https://en.wikipedia.org/wiki/Healthy_diet">Wikipedia</a>, sağlığınızı korumayı ve iyileştirmenizi sağlayan beslenme olarak tanımlasa da <strong>Sağlıklı Beslenme</strong> konusunu, <a target="_blank" href="https://www.helpguide.org/articles/healthy-eating/healthy-eating.htm">HelpGuide</a> tanımı daha eğlenceli gözükmekte.


</p>
<blockquote class="blockquote">
    <p class="mb_0">
        Sağlıklı beslenme, katı sınırlamalar, zayıf kalmak veya sevdiğiniz gıdalardan kendinizi mahrum bırakmak değildir. Bunun yerine harika hissetmek, daha fazla enerjiye sahip olmak, sağlığınızı ve ruh halinizi iyileştirmekle ilgilidir.
    </p>
    <footer class="blockquote-footer">HelpGuide <cite title="Healthy Eating">Healthy Eating</cite></footer>
</blockquote>

<h2>
    Makro besinler: Yağ, Karbonhidrat ve Protein
</h2>
<p>
    Yağ, karbonhidrat ve protein, vücudumuzun sağlıklı çalışması için ihtiyaç duyduğu ana besinlerdir. Hayatta hemen her konuda olduğu gibi başarı aşırıya kaçmadan hepsinden yeterli ve düzenli tüketmekte gizli.
</p>
<h2>
    Yağ ve Karbonhidrat
</h2>
<p>
    Beslenme konusunda şu hataya düşmememekte fayda var. Yağ ve karbonhidrat tüketimi sağlıksızdır, protein ağırlıklı beslenme şekli benimsenmelidir. 
</p>
<p>
    Yağ ve karbonhidratlar vücudun sağlıklı çalışması için gereklidir. Dolayısıyla sağlık boyutu ile ele alındığında protein kadar değerli makro besinlerdir.
</p>
<h2>
    Kırmızı ve Beyaz Et
</h2>
<p>
    Kırmızı ve beyaz et içerdikleri yağ ve protein ile öne çıkmaktadırlar.
</p>
<p>
    Örneğin çiğ <a href="/dana-bonfile">Dana Bonfile</a>'nin 100 gramında; 18 gram yağ ve 20 gram protein bulunmaktadır. (Kaynak <a target="_blank" href="http://ndb.nal.usda.gov/ndb/search/list?qlookup=13917">USDA</a>)
</p>
<p>
    Benzer şekilde <a href="/pilic-bonfile">Piliç Bonfile</a> 100 gram ağırlıkta; 2.5 gram yağ ve 28 gram protein içermektedir.
</p>
<p>
     <a href="/kuzu-uykuluk">Uykuluk</a> 100 gramında; 20 gram yağ ve 12 gram protein içermektedir.
</p>

<h2>
    Kuzu ve Dana Ciğer
</h2>
<p>
    <a href="/kuzu-ciger">Kuzu Ciğer</a> ve <a href="/dana-ciger">Dana Ciğer</a> içerdikleri yüksek B6 vitamini ile düşündüğünüzden çok daha fazla sağlıklı et ürünlerindendir. 100 gram ciğer 4.4 gram yağ ve 26 gram protein içermektedir.
</p>
<p>
    Ciğer tüketimi çok yaygın olmasa da, ciğeri yemeklerinizin bir parçası haline getirmenizi önermekteyiz. 
</p>
<%- include('./_partial/category-products-slider', {limit: 4, title:'Sağlıklı Sakatat Ürünlerimiz', category: 'sakatat'}); %>

<h2>
Ayarında, düzenli yemek ve spor
</h2>
<p>
    Sağlıklı yaşam için "şu çok zararlıdır, şu çok faydalıdır" demeden, doğal olan ürünleri ayarında tüketmenin ve düzenli spor yapmanın gerekli olduğunu düşünmekteyiz.
</p>
<p>
    Uzak durmanız gerekenler basit: Hazır işlenmiş yiyecek ve içecekler.
</p>
<h2>
    Doğal kasap ürünleri sağlıyoruz
</h2>
<p>
   <a href="/">KasaptanAl.com</a> olarak sağlıklı beslenmenizi önemsiyoruz ve bunun için çözümler sunuyoruz.
</p>
<p>
    Online <a href="/">Et Siparişi</a> platformumuzda yer alan tüm <a href="/kasaplar">kasap</a> iş ortaklarımızı özenle seçiyoruz. <a href="/kasap-urunleri">Tüm ürünlerimiz</a> doğal. Ürünlerimize kalori ve besin değerleriyle ilgili bilgiler ekliyoruz. Sağlıklı pişirme yöntemleri konusunda içerikler üretiyoruz.
</p>