<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item active" aria-current="page">Mesafeli Satış Sözleşmesi</li>

          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h2">Mesafeli Satış Sözleşmesi</h1>
        <p class="lead">

        </p>


      </div>
    </div>

  </div>







  <div class="container mt-3 font-size-md mb-3 ">

    <div>
      <div>1. TARAFLAR</div>
      <br />
      <div>1.1. SATICI</div>
      <div>kasaptanAl.com (SİTE) &uuml;zerinden &uuml;r&uuml;nlerini satışını yapan tarafı ifade eder.</div>
      <div>&nbsp;</div>
      <div>1.2. ALICI</div>
      <div>kasaptanAl.com (SİTE) sitesine &uuml;ye olarak &uuml;r&uuml;n satın alan tarafı ifade eder.</div>
      <div>&nbsp;</div>
      <div>2. TANIMLAR</div>
      <div>&nbsp;</div>
      <div>İşbu s&ouml;zleşmenin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı a&ccedil;ıklamaları ifade edeceklerdir.</div>
      <div>&nbsp;</div>
      <div>KANUN : T&uuml;keticinin Korunması Hakkında Kanun&rsquo;u,</div>
      <div>Y&Ouml;NETMELİK : Mesafeli S&ouml;zleşmelere Dair Y&ouml;netmelik&rsquo;i,</div>
      <div>HİZMET : Bir &uuml;cret veya menfaat karşılığında yapılan ya da yapılması taahh&uuml;t edilen mal sağlama dışındaki her t&uuml;rl&uuml; t&uuml;ketici işleminin konusu,</div>
      <div>SATICI : Kamu t&uuml;zel kişileri de dahil olmak &uuml;zere ticari veya mesleki ama&ccedil;larla t&uuml;keticiye mal sunan ya da mal sunanın adına ya da hesabına hareket eden ger&ccedil;ek veya t&uuml;zel kişiyi,</div>
      <div>ALICI : Bir mal veya hizmeti ticari veya mesleki olmayan ama&ccedil;larla edinen, kullanan veya yararlanan ger&ccedil;ek ya da t&uuml;zel kişiyi,</div>
      <div>SİTE : www.kasaptanal.com adlı internet sitesini,</div>
      <div>SİPARİŞ VEREN : Bir mal veya hizmeti SİTE &uuml;zerinden talep eden ger&ccedil;ek ya da t&uuml;zel kişiyi,</div>
      <div>TARAFLAR : SATICI ve ALICI&rsquo;yı,</div>
      <div>S&Ouml;ZLEŞME : SATICI ve ALICI arasında akdedilen işbu s&ouml;zleşmeyi,</div>
      <div>MAL : Alışverişe konu olan taşınır eşya, konut veya tatil ama&ccedil;lı taşınmaz mallar ile elektronik ortamda kullanılmak &uuml;zere hazırlanan yazılım, ses, g&ouml;r&uuml;nt&uuml; ve benzeri her t&uuml;rl&uuml; gayrı maddi malları ifade eder.</div>
      <div>&nbsp;</div>
      <div>3. S&Ouml;ZLEŞMENİN KONUSU</div>
      <div>&nbsp;</div>
      <div>İşbu S&ouml;zleşme&rsquo;nin konusu; ALICI&rsquo;nın, SİTE &uuml;zerinden elektronik ortamda siparişini verdiği aşağıda nitelikleri ve satış fiyatı belirtilen &uuml;r&uuml;n&uuml;n satışı ve teslimi ile ilgili olarak 6502 sayılı T&uuml;keticinin Korunması Hakkında Kanun ve 06.03.2011 tarihli Mesafeli S&ouml;zleşmelere Dair Y&ouml;netmelik h&uuml;k&uuml;mleri gereğince tarafların hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerin belirlenmesidir. Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler g&uuml;ncelleme yapılana ve değiştirilene kadar ge&ccedil;erlidir. İş bu mesafeli satış s&ouml;zleşmesini kabul etmekle ALICI, s&ouml;zleşme konusu siparişi onayladığı takdirde sipariş konusu bedeli ve varsa kargo &uuml;creti, vergi gibi belirtilen ek &uuml;cretleri &ouml;deme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; altına girdiğini ve bu konuda bilgilendirildiğini peşinen kabul etmektedir.</div>
      <div>&nbsp;</div>
      <div>4. SATICI BİLGİLERİ</div>
      <div>&nbsp;</div>
      <div>TARAFLAR 1.1 maddesinde yazılıdır.</div>
      <div>&nbsp;</div>
      <div>5. ALICI BİLGİLERİ</div>
      <div>&nbsp;</div>
      <div>TARAFLAR 1.2 maddesinde yazılıdır.</div>
      <div>&nbsp;</div>
      <div>6.S&Ouml;ZLEŞME KONUSU &Uuml;R&Uuml;N/&Uuml;R&Uuml;NLER BİLGİLERİ</div>
      <div>&nbsp;</div>
      <div>6.1. Malın /&Uuml;r&uuml;n/&Uuml;r&uuml;nlerin/ Hizmetin temel &ouml;zelliklerini (t&uuml;r&uuml;, miktarı, marka/modeli, rengi, adedi) SİTE'de yer almaktadır.</div>
      <div>&nbsp;</div>
      <div>6.2. Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler g&uuml;ncelleme yapılana ve değiştirilene kadar ge&ccedil;erlidir.</div>
      <div>&nbsp;</div>
      <div>6.3. S&ouml;zleşme konusu mal ya da hizmetin t&uuml;m vergiler d&acirc;hil satış fiyatı sipariş bilgilerinde g&ouml;sterilmektedir.</div>
      <div>&nbsp;</div>
      <div>6.4. &Uuml;r&uuml;n sevkiyatları en ge&ccedil; &uuml;&ccedil; iş g&uuml;n&uuml; i&ccedil;erisinde sağlanmaktadır.</div>
      <div>&nbsp;</div>
      <div>7. GENEL H&Uuml;K&Uuml;MLER</div>
      <div>&nbsp;</div>
      <div>7.1. ALICI, SİTE'de s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n temel nitelikleri, satış fiyatı ve &ouml;deme şekli ile teslimata ilişkin &ouml;n bilgileri okuyup, bilgi sahibi olduğunu, elektronik ortamda gerekli teyidi verdiğini kabul, beyan ve taahh&uuml;t eder. ALICI&rsquo;nın; &Ouml;n Bilgilendirmeyi elektronik ortamda teyit etmesi, mesafeli satış s&ouml;zleşmesinin kurulmasından evvel, SATICI tarafından ALICI&rsquo; ya verilmesi gereken adresi, siparişi verilen &uuml;r&uuml;nlere ait temel &ouml;zellikleri, &uuml;r&uuml;nlerin vergiler d&acirc;hil fiyatını, &ouml;deme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.2. S&ouml;zlesme konusu her bir &uuml;r&uuml;n, 30 g&uuml;nl&uuml;k yasal s&uuml;reyi aşmamak kaydı ile ALICI'nın yerlesim yeri uzakligina bagli olarak internet sitesindeki &ouml;n bilgiler kisminda belirtilen s&uuml;re zarfinda ALICI veya ALICI&rsquo;nin g&ouml;sterdigi adresteki kisi ve/veya kurulusa teslim edilir. Bu s&uuml;re i&ccedil;ersinde edimini yerine getirmemesi durumunda t&uuml;ketici s&ouml;zleşmeyi feshedebilir.</div>
      <div>&nbsp;</div>
      <div>7.3. SATICI, S&ouml;zleşme konusu &uuml;r&uuml;n&uuml; eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri, kullanım kılavuzları işin gereği olan bilgi ve belgeler ile teslim etmeyi, her t&uuml;rl&uuml; ayıptan ar&icirc; olarak yasal mevzuat gereklerine g&ouml;re sağlam, standartlara uygun bir şekilde işi doğruluk ve d&uuml;r&uuml;stl&uuml;k esasları d&acirc;hilinde ifa etmeyi, hizmet kalitesini koruyup y&uuml;kseltmeyi, işin ifası sırasında gerekli dikkat ve &ouml;zeni g&ouml;stermeyi, ihtiyat ve &ouml;ng&ouml;r&uuml; ile hareket etmeyi kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.4. SATICI, s&ouml;zleşmeden doğan ifa y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n s&uuml;resi dolmadan ALICI&rsquo;yı bilgilendirmek ve a&ccedil;ık&ccedil;a onayını almak suretiyle eşit kalite ve fiyatta farklı bir &uuml;r&uuml;n tedarik edebilir.</div>
      <div>&nbsp;</div>
      <div>7.5. SATICI, sipariş konusu &uuml;r&uuml;n veya hizmetin yerine getirilmesinin imk&acirc;nsızlaşması halinde s&ouml;zleşme konusu y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getiremezse, bu durumu, s&ouml;zleşmeden doğan ifa y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n s&uuml;resi dolmadan t&uuml;keticiye bildireceğini, 10 g&uuml;nl&uuml;k s&uuml;re i&ccedil;inde toplam bedeli ALICI&rsquo;ya iade edeceğini kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.6. ALICI, S&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n teslimatı i&ccedil;in işbu S&ouml;zleşme&rsquo;yi elektronik ortamda teyit edeceğini, herhangi bir nedenle s&ouml;zleşme konusu &uuml;r&uuml;n bedelinin &ouml;denmemesi ve/veya banka kayıtlarında iptal edilmesi halinde, SATICI&rsquo;nın s&ouml;zleşme konusu &uuml;r&uuml;n&uuml; teslim y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml;n sona ereceğini kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.7. ALICI, S&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n ALICI veya ALICI&rsquo;nın g&ouml;sterdiği adresteki kişi ve/veya kuruluşa tesliminden sonra ALICI&rsquo;ya ait kredi kartının yetkisiz kişilerce haksız kullanılması sonucunda s&ouml;zleşme konusu &uuml;r&uuml;n bedelinin ilgili banka veya finans kuruluşu tarafından SATICI&rsquo;ya &ouml;denmemesi halinde, ALICI S&ouml;zleşme konusu &uuml;r&uuml;n&uuml; 3 g&uuml;n i&ccedil;erisinde nakliye gideri SATICI&rsquo;ya ait olacak şekilde SATICI&rsquo;ya iade edeceğini kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.8. SATICI, tarafların iradesi dışında gelişen, &ouml;nceden &ouml;ng&ouml;r&uuml;lemeyen ve tarafların bor&ccedil;larını yerine getirmesini engelleyici ve/veya geciktirici hallerin oluşması gibi m&uuml;cbir sebepler halleri nedeni ile s&ouml;zleşme konusu &uuml;r&uuml;n&uuml; s&uuml;resi i&ccedil;inde teslim edemez ise, durumu ALICI&rsquo;ya bildireceğini kabul, beyan ve taahh&uuml;t eder. ALICI da siparişin iptal edilmesini, s&ouml;zleşme konusu &uuml;r&uuml;n&uuml;n varsa emsali ile değiştirilmesini ve/veya teslimat s&uuml;resinin engelleyici durumun ortadan kalkmasına kadar ertelenmesini SATICI&rsquo;dan talep etme hakkını haizdir. ALICI tarafından siparişin iptal edilmesi halinde ALICI&rsquo;nın nakit ile yaptığı &ouml;demelerde, &uuml;r&uuml;n tutarı 10 g&uuml;n i&ccedil;inde kendisine nakden ve defaten &ouml;denir. ALICI&rsquo;nın kredi kartı ile yaptığı &ouml;demelerde ise, &uuml;r&uuml;n tutarı, siparişin ALICI tarafından iptal edilmesinden sonra 7-12 g&uuml;n i&ccedil;erisinde ilgili bankaya iade edilir. ALICI, SATICI tarafından kredi kartına iade edilen tutarın banka tarafından ALICI hesabına yansıtılmasına ilişkin ortalama s&uuml;recin 2 ile 3 haftayı bulabileceğini, bu tutarın bankaya iadesinden sonra ALICI&rsquo;nın hesaplarına yansıması halinin tamamen banka işlem s&uuml;reci ile ilgili olduğundan, ALICI, olası gecikmeler i&ccedil;in SATICI&rsquo;yı sorumlu tutamayacağını kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.9. SATICININ, ALICI tarafından siteye kayıt formunda belirtilen veya daha sonra kendisi tarafından g&uuml;ncellenen adresi, e-posta adresi, sabit ve mobil telefon hatları ve diğer iletişim bilgileri &uuml;zerinden mektup, e-posta, SMS, telefon g&ouml;r&uuml;şmesi ve diğer yollarla iletişim, pazarlama, bildirim ve diğer ama&ccedil;larla ALICI&rsquo;ya ulaşma hakkı bulunmaktadır. ALICI, işbu s&ouml;zleşmeyi kabul etmekle SATICI&rsquo;nın kendisine y&ouml;nelik yukarıda belirtilen iletişim faaliyetlerinde bulunabileceğini kabul ve beyan etmektedir.</div>
      <div>&nbsp;</div>
      <div>7.10. ALICI, s&ouml;zleşme konusu mal/hizmeti teslim almadan &ouml;nce muayene edecek; ezik, kırık, ambalajı yırtılmış vb. hasarlı ve ayıplı mal/hizmeti kargo şirketinden teslim almayacaktır. Teslim alınan mal/hizmetin hasarsız ve sağlam olduğu kabul edilecektir. Teslimden sonra mal/hizmetin &ouml;zenle korunması borcu, ALICI&rsquo;ya aittir. Cayma hakkı kullanılacaksa mal/hizmet kullanılmamalıdır. Fatura iade edilmelidir.</div>
      <div>&nbsp;</div>
      <div>7.11. ALICI ile sipariş esnasında kullanılan kredi kartı hamilinin aynı kişi olmaması veya &uuml;r&uuml;n&uuml;n ALICI&rsquo;ya tesliminden evvel, siparişte kullanılan kredi kartına ilişkin g&uuml;venlik a&ccedil;ığı tespit edilmesi halinde, SATICI, kredi kartı hamiline ilişkin kimlik ve iletişim bilgilerini, siparişte kullanılan kredi kartının bir &ouml;nceki aya ait ekstresini yahut kart hamilinin bankasından kredi kartının kendisine ait olduğuna ilişkin yazıyı ibraz etmesini ALICI&rsquo;dan talep edebilir. ALICI&rsquo;nın talebe konu bilgi/belgeleri temin etmesine kadar ge&ccedil;ecek s&uuml;rede sipariş dondurulacak olup, mezkur taleplerin 24 saat i&ccedil;erisinde karşılanmaması halinde ise SATICI, siparişi iptal etme hakkını haizdir.</div>
      <div>&nbsp;</div>
      <div>7.12. ALICI, SİTE'ye &uuml;ye olurken verdiği kişisel ve diğer sair bilgilerin ger&ccedil;eğe uygun olduğunu, SATICI&rsquo;nın bu bilgilerin ger&ccedil;eğe aykırılığı nedeniyle uğrayacağı t&uuml;m zararları, SATICI&rsquo;nın ilk bildirimi &uuml;zerine derhal, nakden ve defaten tazmin edeceğini beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>7.13. ALICI, SİTE'yi kullanırken yasal mevzuat h&uuml;k&uuml;mlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahh&uuml;t eder. Aksi takdirde, doğacak t&uuml;m hukuki ve cezai y&uuml;k&uuml;ml&uuml;l&uuml;kler tamamen ve m&uuml;nhasıran ALICI&rsquo;yı bağlayacaktır.</div>
      <div>&nbsp;</div>
      <div>7.14. ALICI, SİTE'yi hi&ccedil;bir şekilde kamu d&uuml;zenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir ama&ccedil; i&ccedil;in, başkalarının maddi ve manevi haklarına tecav&uuml;z edecek şekilde kullanamaz. Ayrıca, &uuml;ye başkalarının hizmetleri kullanmasını &ouml;nleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) işlemlerde bulunamaz.</div>
      <div>&nbsp;</div>
      <div>7.15. SİTE &uuml;zerinden, SATICI&rsquo;nın kendi kontrol&uuml;nde olmayan ve/veya başkaca &uuml;&ccedil;&uuml;nc&uuml; kişilerin sahip olduğu ve/veya işlettiği başka web sitelerine ve/veya başka i&ccedil;eriklere link verilebilir. Bu linkler ALICI&rsquo;ya y&ouml;nlenme kolaylığı sağlamak amacıyla konmuş olup herhangi bir web sitesini veya o siteyi işleten kişiyi desteklememekte ve Link verilen web sitesinin i&ccedil;erdiği bilgilere y&ouml;nelik herhangi bir garanti niteliği taşımamaktadır.</div>
      <div>&nbsp;</div>
      <div>8. FATURA BİLGİLERİ</div>
      <div>&nbsp;</div>
      <div>TARAFLAR 1.2'de yazılıdır.</div>
      <div>&nbsp;</div>
      <div id="iade">9. İADE </div>
      <div>&nbsp;</div>
      <div>9.1. ALICI; mal satışina ilişkin mesafeli s&ouml;zleşmelerde, &uuml;r&uuml;n&uuml;n kendisine veya g&ouml;sterdiği adresteki kişi/kuruluşa teslim tarihinden itibaren 1 (bir) g&uuml;n i&ccedil;erisinde hi&ccedil;bir gerek&ccedil;e g&ouml;stermeksizin malı reddederek s&ouml;zleşmeden cayma hakkini kullanabilir. ALICI cayma hakkının kullanıldığına dair bildirimin bu s&uuml;re i&ccedil;inde SATICI&rsquo;ya y&ouml;neltmiş olması gerekmektedir. ALICI, mesafeli s&ouml;zleşmeyi ya da buna karşılık gelen her hangi bir teklifi kabul etmeden &ouml;nce ayrıntıları y&ouml;netmelikte belirlenen hususlarda ve siparişi onayladığı takdirde &ouml;deme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; altına gireceği konusunda a&ccedil;ık ve anlaşılır şekilde satıcı veya sağlayıcı tarafından bilgilendirilir ve ALICI bilgilendirildiğini peşinen kabul eder. Cayma hakki s&uuml;resi sona ermeden &ouml;nce, t&uuml;keticinin onayı ile hizmetin ifasına başlanan hizmet s&ouml;zleşmelerinde cayma hakki kullanılamaz. Cayma hakkinin kullanımından kaynaklanan masraflar SATICI&rsquo; ya aittir.</div>
      <div>&nbsp;</div>
      <div>9.2. Cayma hakkının kullanılması i&ccedil;in 1 (bir) g&uuml;nl&uuml;k s&uuml;re i&ccedil;inde SATICI&rsquo;ya iadeli taahh&uuml;tl&uuml; posta, faks veya eposta ile yazılı bildirimde bulunulması ve &uuml;r&uuml;n&uuml;n 10. madde başlığı altında d&uuml;zenlenen &ldquo;Cayma Hakkı Kullanılamayacak &Uuml;r&uuml;nler&rdquo; h&uuml;k&uuml;mleri &ccedil;er&ccedil;evesinde kullanılmamış olması şarttır. Bu hakkın kullanılması halinde,</div>
      <div>&nbsp;</div>
      <div>a) kişiye veya ALICI&rsquo; ya teslim edilen &uuml;r&uuml;n&uuml;n faturası, (İade edilmek istenen &uuml;r&uuml;n&uuml;n faturası kurumsal ise, iade ederken kurumun d&uuml;zenlemiş olduğu iade faturası ile birlikte g&ouml;nderilmesi gerekmektedir. Faturası kurumlar adına d&uuml;zenlenen sipariş iadeleri İADE FATURASI kesilmediği takdirde tamamlanamayacaktır.)</div>
      <div>&nbsp;</div>
      <div>b) İade edilecek &uuml;r&uuml;nlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak teslim edilmesi gerekmektedir.</div>
      <div>&nbsp;</div>
      <div>c) SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en ge&ccedil; 10 g&uuml;nl&uuml;k s&uuml;re i&ccedil;erisinde toplam bedeli ve ALICI&rsquo;yı bor&ccedil; altına sokan belgeleri ALICI&rsquo; ya iade etmek ve 20 g&uuml;nl&uuml;k s&uuml;re i&ccedil;erisinde malı iade almakla y&uuml;k&uuml;ml&uuml;d&uuml;r.</div>
      <div>&nbsp;</div>
      <div>d) ALICI&rsquo;nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade imk&acirc;nsızlaşırsa ALICI kusuru oranında SATICI&rsquo;nın zararlarını tazmin etmekle y&uuml;k&uuml;ml&uuml;d&uuml;r.</div>
      <div>&nbsp;</div>
      <div>10. CAYMA HAKKI</div>
      <div>&nbsp;</div>
      <div>KULLANILAMAYACAK &Uuml;R&Uuml;NLER ALICI&rsquo;nın istekleri veya a&ccedil;ık&ccedil;a onun kişisel ihtiya&ccedil;ları doğrultusunda hazırlanan, niteliği itibarıyla geri g&ouml;nderilmeye elverişli olmayan, tek kullanımlık &uuml;r&uuml;nler, &ccedil;abuk bozulma tehlikesi olan kırmızı ve/veya beyaz etler veya son kullanma tarihi ge&ccedil;me ihtimali olan malların iadesi Y&ouml;netmelik gereği m&uuml;mk&uuml;n değildir.</div>
      <div>&nbsp;</div>
      <div>11. TEMERR&Uuml;T HALİ VE HUKUKİ SONU&Ccedil;LARI</div>
      <div>&nbsp;</div>
      <div>ALICI, kredi kartı ile yapmış olduğu işlemlerinde temerr&uuml;de d&uuml;şmesi halinde kart sahibi bankanın kendisi ile yapmış olduğu kredi kartı s&ouml;zleşmesi &ccedil;er&ccedil;evesinde faiz &ouml;deyeceğini ve bankaya karşı sorumlu olacağını kabul, beyan ve taahh&uuml;t eder. Bu durumda ilgili banka hukuki yollara başvurabilir; doğacak masrafları ve vek&acirc;let &uuml;cretini ALICI&rsquo;dan talep edebilir ve her koşulda ALICI&rsquo;nın borcundan dolayı temerr&uuml;de d&uuml;şmesi halinde, ALICI, borcun gecikmeli ifasından dolayı SATICI&rsquo;nın uğradığı zarar ve ziyanını &ouml;deyeceğini kabul, beyan ve taahh&uuml;t eder.</div>
      <div>&nbsp;</div>
      <div>12. YETKİLİ MAHKEME</div>
      <div>&nbsp;</div>
      <div>12.1. Taraflar, S&ouml;zleşme&rdquo;nin uygulanmasından ve yorumundan doğan Bakanlık&ccedil;a ilan edilen değere kadar ALICI&rsquo;nın mal veya hizmeti satin aldığı ve ikametg&acirc;hının bulunduğu yerdeki T&uuml;ketici Hakem Heyetleri ile T&uuml;ketici Mahkemeleri yetkili olacağını kabul etmiştir.</div>
      <div>&nbsp;</div>
      <div>12.2. SATICI şik&acirc;yet ve itirazları konusunda başvurularını, Bakanlık&ccedil;a belirlenen parasal sınırlar d&acirc;hilinde mal veya hizmeti satın aldığı veya ikametg&acirc;hının bulunduğu yerdeki t&uuml;ketici sorunları hakem heyetine veya t&uuml;ketici mahkemesine yapabilir. Parasal sınıra ilişkin bilgiler aşağıdadır: 28/05/2014 tarihinden itibaren ge&ccedil;erli olmak &uuml;zere: Değeri 2.000,00 TL&rsquo;nin (İki Bin T&uuml;rk Lirası) altında bulunan uyuşmazlıklarda İl&ccedil;e T&uuml;ketici Hakem Heyetlerine, 3.000,00 TL&rsquo;nin (&Uuml;&ccedil; Bin T&uuml;rk Lirası) altında bulunan uyuşmazlıklarda İl T&uuml;ketici Hakem Heyetlerine, b&uuml;y&uuml;kşehir stat&uuml;s&uuml;nde bulunan illerde ise 2.000,00 TL- 3.000,00 TL (İki Bin T&uuml;rk lirası ile &Uuml;&ccedil; Bin T&uuml;rk Lirası) arasındaki uyuşmazlıklarda İl T&uuml;ketici Hakem Heyetlerine başvuru zorunludur. Bu değerlerin &uuml;zerindeki uyuşmazlıklar i&ccedil;in T&uuml;ketici Hakem Heyetlerine başvuru yapılamamaktadır. İşbu S&ouml;zleşme ticari ama&ccedil;larla yapılmaktadır.</div>
      <div>&nbsp;</div>
      <div>13. Y&Uuml;R&Uuml;RL&Uuml;K</div>
      <div>&nbsp;</div>
      <div>Site &uuml;zerinden verilen siparişe ait &ouml;demenin ger&ccedil;ekleşmesi durumunda ALICI işbu S&ouml;zleşme&rsquo;nin t&uuml;m koşullarını kabul etmiş sayılacaktır.</div>
      </div>

  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>