<p>Hayvanların tüm organlarının çıkartılıp sadece et ve kemiklerinden elde edilen, üzerinde yağ, deri, kas, sinir ve kan
    damarı bulunan etin kısımlarının geneline <strong>karkas et</strong> denilir.</p>
<h2>Karkas etin çeşitleri nelerdir?</h2>
<p>Bir sığır kesilince karkas etin taşınması için dört büyük parçaya bölünür. Testereyle yapılan ilk kesim, omurganın
    merkezi boyunca kuyruktan boyna doğrudur. Sonra her iki taraf yanal olarak kesilerek iki parçaya bölünür. Bu, iki ön
    çeyrek ve iki arka çeyrek olmak üzere dört parça et verir. Ön çeyrekten gelebilecek et kesimleri, arka çeyrek
    kesimden farklıdır.</p>
<p>Yine, konvansiyonel olarak karkas normalde &quot;ilkel&quot; bölümlere ayrılmıştır. Bu ilkel kısımların isimlerini
    bilmek önemlidir, çünkü kasaplar bu isimleri kesimleri tanımlamak için kullanırlar.</p>
<ul>
    <li><strong>Gerdan</strong></li>
</ul>
<p>Gerdanda iyi kullanılmış kaslar ve çok sayıda bağ dokusu bulunur. Tüm kesimleri, hassas olmalarını sağlamak için
    dikkatli bir pişirme gerektirir. Çoğu kez güveç etine ve kıymaya dönüştürülür.</p>
<ul>
    <li><strong>Kürek</strong></li>
</ul>
<p>Çok sayıda kemik ve bağ dokusu içerir. Kavurma olarak en iyi şekilde rosto olarak kesilebilse de genellikle kıyma
    yapılarak tüketilir.</p>
<ul>
    <li><strong>İncik</strong></li>
</ul>
<p>Ön bacak sapı, özellikle iliği ile kızartma yapmak istiyorsanız, kızartma olabilir. Aksi takdirde kıyma için en iyi
    kesimdir.</p>
<p>Not: Karkasın en hassas kısımları az kullanılan kaslardır. En hassas biftek kaburga ve kısa bel bölgelerindedir.</p>
<ul>
    <li><strong>Kaburga</strong></li>
</ul>
<p>Hayvandaki en hassas etlerden bazılarını kaburgalar içerir. Biftek veya kızartmalar için harika bir seçenektir.</p>
<ul>
    <li><strong>Bonfile</strong></li>
</ul>
<p>Başka bir hassas karkas etin bölgesidir. Bonfile, karkastaki en hassas kastır. Hemen omurga altındaki göğüs kafesinin
    içindedir. Ayrı kesilirse bonfile, Bonfile Kızartma veya Bonfile Biftek (Filet Mignon) olabilir. Yerinde
    bırakılırsa, bonfile T Bone Steaks ve Porterhouse Steaks&#39;ın bir parçası olarak kesilir.</p>
<ul>
    <li><strong>Fileto</strong></li>
</ul>
<p>Sığır filetosu, biftek kaynağıdır, orta derecede yumuşak biftekten oluşur. Son derece
    lezzetlidir.</p>
<ul>
    <li><strong>Sokum</strong></li>
</ul>
<p>

    Dana sokum hayvanın but kısmından çıkar. But parçası 5 parçaya bölünür, bu 5 parça içerisinde en yumuşak ettir denebilir. Kontrafilenin devamıdır. Danada bel ile butun birleştiği kalça kısmıdır. Çok yumuşak bir ettir, kavurması çok daha güzel olur. Yağlısı ve mermerlisi bulunabilirse dinlendirildikten sonra mangalda da yapılabilir. But etinin kavurmaya en yatkın etidir.

</p>