<p>Mermerleşme, yağın kas lifleri arasında dağılarak ete mozaik ya da mermer görünümü vermesi olarak tanımlanabilir.
    Mermerleşme, etin kalite niteliklerinin saptanmasında önemli bir kriterdir.</p>

<h2>Et Lezzeti</h2>
<p>Yağın toplanma şekli etin lezzetini belirler. Kalın yağ tabakasının kas etrafında toplanması eti sertleştirir. İnce
    yağ tabakasının mozaik şeklinde kas hücreti etrafında birikmesi eti yumuşatır.</p>

<p>Mermerleşmiş etler daha kolay çiğnenebilir, yumuşak, sulu ve lezzetlidir.</p>
<p>
    En iyi mermerleşme longissimus dorsi
    (belgözü) kasının olduğu 10. ve 13. costalar arasında gelen ettedir.</p>