<h2>En Sağlıklı Gıdalardan: Kırmızı Et</h2>

<p>
    Tıp biliminin mühendislikten en belirgin farklarından birisi de kesin doğruların daha az olması.
</p>

<p>
    Örneğin 1980'lerde başlayan <i>yağ zararlıdır</i> fikri pek çok kişinin işlenmiş karbonhidrata yönelmesine sebep
    oldu.
    Hemen her ürün etiketine konulan sıfır yağ etiketleriyle ürünlerin ne derecede sağlıklı olduğu vurgulanmaya
    başlandı.
</p>
<p>
    Sonrasında şeker düşmanlığı baş gösterdi. <i>Sıfır yağ</i> yerini <i>sıfır şeker</i>'e bıraktı.
</p>
<p>
    Sağlıklı bir hayat için kırmızı et yerine tavuk ve balık başta olmak üzere beyaz etlerin tercih edilmesi gerektiğine
    tutun,
    yumurtanın sağlıksız olduğuna kadar pek çok bilgi etrafımızda dolaştı.
</p>
<h2>
    Yağ Konusu
</h2>
<p>
    Kırmızı et sağlık ilişkisini daha iyi anlamak için sağlıklı gıdalarda bulunan üç ana yağ grubunu gözden geçirelim.
</p>
<ul>
    <li>
        <strong>Doymuş Yağlar</strong>; Kırmızı ette bol miktarda bulunan yağ tipi. Kırmızı et yanında hindistan cevizi,
        peynir ve süt ürünlerinde de belirgin miktarda bulunmaktadır.
    </li>
    <li>
        <strong>Tekli/Çoklu Doymamış Yağlar</strong>; Zeytin yağ ve çerezlerde (fındık, badem, fıstık) bol miktarda
        bulunan yağ tipi.
    </li>
    <li>
        <strong>Omega Yağları</strong>; Balık ürünlerinde bol miktarda bulabileceğiniz yağ.
    </li>
</ul>
<h2>
    Kolestrol nedir?
</h2>
<p>
    Kolestrol vücudunuzun tüm hücrelerinde bulunan bir maddedir, yağ veya yağ çeşidi değildir. Kolestrol vücut için
    gereklidir. İhtiyaç olan kolestrolün bir kısmını karaciğer üretir, bir miktarını da gıdalardan alırsınız.



    (https://medlineplus.gov/cholesterol.html)
</p>
<h3>
    Yanlış bilinenlerden HDL ve LDL'ler 
</h3>
<p>
    LDL kötü kolestrol, HDL iyi kolestrol olarak bilinse de durum böyle değildir. Her ikisi de kolestrol tipi değildir, kolestrol taşıyan parçacıklardır.
</p>
    <p>
        LDL, Low Density Lipoprotein, HDL High Density Lipoprotein olarak tanımlanan lipoproteinlerdir, taşıyıcılardır.

    </p> 
     

<p>
    LDL, karaciğerden aldığı kolestrolü vücuda taşırken, HDL vücuttan aldığı kolestrolü karaciğere götürür.
</p>
<h2>
    Damar Tıkanıklığı
</h2>
<p>
    Tıkanıklık, LDL ile taşınan kolestrolün damarlara yapışması ile oluşmakta. Hal böyle olunca da LDL kötü bir üne sahip olmakta.
</p>
<p>
    Doğruluğu kanıtlanmamış olsa da, kırmızı etin içerdiği yüksek doymuş yağ miktarının LDL miktarını yükselttiği, bunun da damar tıkanıklığına yol
    açabileceği günümüzde pek çok <i>klasik beslenme</i> uzmanı tarafından söylenegelmekte.
</p>
<h2>
    Güncel Durum https://www.healthline.com/nutrition/saturated-fat
</h2>
<p>
Yağ tüketiminin azaltılmış olmasına rağmen kalp krizi oranlarının hala yüksek seyretmesi konu hakkında daha detaylı araştırmalar yapılması ihtiyacını ortaya çıkarmıştır.
</p>
<p>
Yapılan detaylı ve kapsamlı araştırmalar, doymuş yağ tüketimi ile kalp krizi ve damar tıkanıklığı arasında bir bağ olmadığını göstermekte.
</p>
<p>
    Örneğin, 2014 yılında 659,298 kişi üzerinde yapılan bir araştırma doymuş yağ tüketimi ile kalp krizi arasında bir bağ olmadığını göstermekte. (Kaynak <a target="_blank" href="https://pubmed.ncbi.nlm.nih.gov/24723079">nlm.nih.gov</a> ).
</p>
<h2>
    Denge
</h2>
<p>

</p>