<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <div class="container py-5 mb-3 text-center">
      <div class="row justify-content-center py-lg-5">
        <div class="col-lg-5">
          <h1 class="display-404">404</h1>
          <h2 class="h3 mb-4">Maalesef bu sayfayı bulamadık.</h2>
          <p class="mb-4">
            <u>Aşağıda işinize yarayabilecek bazı sayfaları listelemek dışında elimizden gelen yok.</u>
          </p><a class="btn btn-sm btn-outline-accent mr-3 mb-3" href="/"><i class="czi-home mr-1"></i>Ana Sayfa</a>
          <a class="btn btn-sm btn-outline-danger mr-3 mb-3" href="/lezzetler"><i class="czi-view-grid mr-2"></i></i>Reyonlar</a>
          <a class="btn btn-sm btn-outline-success mr-3 mb-3" href="/iletisim"></i>İletişim</a>
        </div>
      </div>
    </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>