<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <% if (Object.keys(__req.query).length != 0 ) {%>
    <meta name="robots" content="noindex,follow">
    <link href="https://www.kasaptanal.com<%=__req.path%>" rel="canonical">
    <%}%>

</head>

<body>
  <% include ./_partial/header %>

  <%-include('./_partial/food-select-alternatives.ejs', {}) %>


  <div class="bg-primary py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
         
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light">
          <%='Et Yemekleri'%> </h1>
        <h2 class="lead text-light h4">

          <span class="badge badge-light mr-1 "><i class=" czi-thumb-up mr-1">

            </i>Eti Bizden</span><span class="">seçeneği ile yemeğinize uygun eti ihtiyacınız kadar hazırlıyoruz.</span>



          </h2>
      </div>
    </div>
  </div>

  <% var reyonlar = __helper.foodCategories.filter(p=>p.slug=='tarifler') %>



    <div class=" container px-0 mb-3 ">
      <div class="">


       
          <% var foodCats = __categories.filter(p=>p.type == 'resource' && p.status == 'active'); %>

          <% foodCats.forEach((cat, i) => { %>
          <% var foods = controller.getFoods(cat) %>
          <% if (foods.length) { %>
          <div class="px-3 pt-3 dborder-bottom">
            <%- include('./_partial/foods-slider.ejs', {title: cat.name, desc: undefined, text: '', iconUrl: `${__req.helper.imgUrl('category-photos', cat.slug)}`,
            allUrl: '/et-yemekleri/' + cat.slug, foods: foods}); %>

          </div>
          <%} %>
          <%})%>
       







      </div>
    </div>
 


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>