<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

    <div class="page-title">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb" class="d-none d-lg-block">
            <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
              <li class="breadcrumb-item text-nowrap">Kasap Başvurusu
              </li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3">Kulübe Hoş Geldiniz</h1>
          <h2 class="h4 lead">Sadece en iyilerle çalışıyoruz. Sizi de aramızda görmek isteriz.</h2>
        </div>
      </div>
    </div>







    <div id="applyApp" v-cloak class="container mb-3 ">

      <form id="app" @submit="checkForm" method="post">
        <p class="text-primary" v-if="errors.length">
          <b>Lütfen aşağıdaki hataları düzeltin:</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>
        </p>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Adınız ve Soyadınız</label>
            <input v-model="name" required type="text" class="form-control" id="inputEmail4" placeholder="adınızı ve soyadınızı girin">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Cep Telefonunuz</label>

            <input v-model="tel" class="form-control iphone" minlength="10" maxlength="15" type="tel" id="tel" 
                required>

            <div class="invalid-feedback">Geçersiz telefon numarası.</div>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Kasabınızın Adı</label>
            <input required v-model="butcher" type="text" class="form-control" id="inputPassword4" placeholder="kasabınızın adını girin">
          </div>
          <div class="form-group col-md-6">
            <label for="inputAddress">Kasabınızın Adresi</label>
            <input v-model="butcherAddress" required type="text" class="form-control" id="inputAddress" placeholder="cadde sokak vs ">
          </div>

        </div>


        <div class="form-row">

          <div class="form-group col-md-4">
            <label for="inputState">Şehir</label>
            <select v-model="cityid" required id="inputState" class="form-control">
              <option value="" selected>Seçin</option>
              <option  :value="c.id" v-for="(c, i) in cities">{{c.name}}</option>
            </select>
          </div>
        
        </div>

        <button id="submit" type="submit" class="btn btn-primary">Başvuruda Bulun</button>
      </form>




    </div>

    <div class="container mb-3">

      <%- include('./_partial/category-slider', { title: 'Kategoriler' , allUrl: '/kasap-urunleri' }); %>

    </div>

    <% include ./_partial/footer %>
      <% include ./_partial/scripts %>

        <script>
          window.applyApp = new Vue({
            el: '#applyApp',

            mounted: function () {
              var self = this;
              App.Backend.get("area/children").then(function(result) {
                self.cities = result.data
              })
            },

            data: function () {
              return {
                errors: [],
                name: '',
                tel: '',
                butcher:'',
                butcherAddress:'',
                cityid: 0,
                cities: []
              }
            },


            methods: {
              checkForm: function (e) {
                this.errors = [];
                if (!this.cityid) this.errors.push('Şehir belirtmeniz gerekmekte');
                e.preventDefault();
                App.Backend.post('savebutcherapplication', {
                  name: this.name,
                  tel: this.tel,
                  butcher: this.butcher,
                  butcherAddress: this.butcherAddress,
                  cityid: this.cityid
                }).then(function(err) {
                  App.alert('Teşekkür ederiz, en kısa zamanda iletişime geçiyor olacağız', 'info');
                  $('#submit').hide();
                }).catch(function(err) {
                  App.alert('Maalesef başvurunuzu kaydedemedik. Lütfen tekrar deneyin, sorun devam ederse bize başvurun', 'danger')
                  
                })
              }

           
            }
          })
        </script>
        </script>

</body>

</html>