<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

    <!-- Page Title (Light)-->
    <div class="bg-secondary pt-4 ">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb" class="d-none d-lg-block">
            <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
              <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
          <h1 class="h3">Manuel Siparişler </h1>
        </div>
      </div>
    </div>





    <div id="manuelorderapp" class="container mb-3 ">

      <div id="orderdetails" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div v-if="order" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{order.custName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <h5 class="h5">{{order.custName + ',' + order.custPhone}}</h5>
              <p>{{order.butchername}} Siparişi</p>
              <h6 class="h6" >Sipariş</h6>
              {{order.custOrder}}, {{order.custNote}}
              <h6 class="h6">Adres</h6>
                  {{order.custAddress}}, {{order.semt}}, 
                  <a target="_blank" :href="'https://www.google.com/maps/search/?api=1&query=' + order.prefAdr.lat + ',' +  order.prefAdr.lng">Tam Konuma Git</a>
              <h6 class="h6">Teslimat Talebi</h6>
              {{order.shipHour}}, {{order.shipDay && order.shipDay.date}}

           



            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Müşteri</th>
            <th>Sipariş Tarihi</th>
            <th>Sipariş</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(o,i) in orders">
            <th>
              <a target="_blank" :href="'/pages/operator?phone=' + o.userphone">{{o.userphone}}, {{o.order.custName}}</a>
            </th>

            <th>{{o.order.orderDate}}</th>
            <th>
              <a @click="show(o)">Görüntüle</a>
            </th>
          </tr>
        </tbody>
      </table>




    </div>








    <% include ./_partial/footer %>
      <% include ./_partial/scripts %>

        <script>
          window.manuelorderapp = new Vue(
            {
              el: "#manuelorderapp",

              data: {
                orders: [],
                order: null
              },

              mounted: function () {
                this.list()
              },



              methods: {
                show(o) {
                  this.order = o.order;
                  $("#orderdetails").modal('show')
                },
                list: function () {
                  var self = this;
                  App.Backend.get('order/manuelorders/list').then(function (result) {
                    self.orders = result.data;
                  }).catch(App.HandleError.bind(App))
                }
              }
            })
        </script>

</body>

</html>