<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>



  <div class="page-title py-2 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item text-nowrap active" aria-current="page">Şifremi Unuttum</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">Şifremi Unuttum</h1>
        <p class="lead text-light">Üzülmeyin, hepimizin başına geliyor.</p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-light box-shadow-lg  px-4 py-4 mb-3 ">
      <form method="post" class="needs-validation" novalidate>
        <input type="hidden" value="<%=__req.query.k%>" name="k" id="k">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="account-confirm-pass">Yeni Şifreniz</label>
               
                    <div class="password-toggle">
                        <input placeholder="en az 5 karakter" minlength="5" maxlength="20" required class="form-control" type="password"
                            name="newpass" id="newpass">
                        <label class="password-toggle-btn">
                            <input class="custom-control-input" type="checkbox"><i
                                class="czi-eye password-toggle-indicator"></i><span
                                class="sr-only">Göster</span>
                        </label>
                        <div class="invalid-feedback">şifre giriniz

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr class="mt-2 mb-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">

                    <button id="save-profile" name="save-profile" value="true"
                        class="btn btn-primary mt-3 mt-sm-0" type="submit">Şifremi Belirle</button>
                </div>
            </div>
        </div>
    </form>

    </div>
  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <% if (controller.showLogin) { %>


  <script>
    $(document).ready(function() {
      window.App.gTag('resetpassword', 'success', '<%=controller.loginUser%>');
      window.App.showLoginDlg("<%=controller.redirect%>", false, '<%=controller.loginUser%>')
    })
  </script>

  <% } %>

</body>

</html>