<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
  <meta name="robots" content="noindex,follow">

</head>

<body>
  <% include ./_partial/header %>



  <div class="page-title ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb" class="d-none d-lg-block">
          <ol class="breadcrumb breadcrumb-dark flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item text-nowrap active" aria-current="page">Şifremi Unuttum</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Şifremi Unuttum</h1>
        <p class="lead text-light">Üzülmeyin, hepimizin başına geliyor.</p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-light box-shadow-lg  px-4 py-4 mb-3 ">
      <div class="">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4">Şifrenizi mi unuttunuz?</h2>
            <p class="font-size-md">Sorun değil, telefon ve e-posta bilgileriniz yeterli.</p>
            <div class="card py-2 mt-4">
              <form class="card-body needs-validation" method="post" novalidate>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recover-email">Cep Telefonunuz</label>
                      <input class="form-control" minlength="10" maxlength="15" placeholder="5xxxxxxxxx" type="tel" name="recover-tel" id="recover-tel" required>
                      <div class="invalid-feedback">Lütfen cep telefonunuzu girin.</div>
                    </div>
                  </div>  
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="recover-email">E-posta adresiniz</label>
                      <input class="form-control" type="email" name="recover-email" id="recover-email" required>
                      <div class="invalid-feedback">Lütfen e-posta adresinizi girin.</div>
                    </div>
                  </div>
                                
                </div>

                <button class="btn btn-primary" type="submit">Yeni Şifre Gönder</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

  <% if (controller.showLogin) { %>


  <script>
    $(document).ready(function() {
      window.App.gTag('resetpassword', 'success', '<%=controller.loginUser%>');
      window.App.showLoginDlg("<%=controller.redirect%>", false, '<%=controller.loginUser%>')
    })
  </script>

  <% } %>

</body>

</html>