<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>



  <div class="page-title-overlap bg-accent pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>

            <li class="breadcrumb-item text-nowrap active" aria-current="page">Şifremi Unuttum</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Şifremi Unuttum</h1>
        <p class="lead text-light">Üzülme, bazen hepimizin başına geliyor.</p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="bg-light box-shadow-lg  px-4 py-4 mb-3 __xxx__">
      <div class="">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <h2 class="h3 mb-4">Şifrenizi mi unuttunuz?</h2>
            <p class="font-size-md">Üç kısa adımda şifrenizi yenileyin. </p>
            <ol class="list-unstyled font-size-md">
              <li><span class="font-weight-semibold text-primary mr-2">1.</span>Aşağıya e-posta adresinizi girin.</li>
              <li><span class="font-weight-semibold text-primary mr-2">2.</span>Size geçici bir kod göndereceğiz.</li>
              <li><span class="font-weight-semibold text-primary mr-2">3.</span>E-Posta adresinize gelen kod ile yeni
                bir şifre oluşturun.</li>
            </ol>
            <div class="card py-2 mt-4">
              <form class="card-body needs-validation" action="/reset-password" method="post" novalidate>
                <div class="form-group">
                  <label for="recover-email">E-posta adresiniz</label>
                  <input class="form-control" type="email" id="recover-email" required>
                  <div class="invalid-feedback">Lütfen e-posta adresinizi girin.</div>
                </div>
                <button class="btn btn-primary" type="submit">Yenileme Kodunu Gönder</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

</body>

</html>