<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
  <% include ./_partial/head %>
</head>

<body>
  <% include ./_partial/header %>

  <!-- Page Title (Light)-->
  <div class="bg-secondary pt-4 mb-3 ">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star">
            <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="czi-home"></i></a></li>


          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3">kredi</h1>



      </div>
    </div>



  </div>







  <div class="container mb-3 ">

    <form method="POST" id="pageForm">
      <div class="form-group">
        <input type="hidden" name="paymentId" id="paymentId">
        <input value="2070-288553-3982,2070-261296-0852" class="form-control" name="ordernum" type="text" id="ordernum"
            placeholder="" required>

    </div>      
    <button id= "makepayment" name="makepayment" value="true"  class="btn btn-primary btn-block" type="submit">Ödeme Yap</button>
    


    <%- include('./_partial/creditcard', {}) %>








  </form>

  </div>




  <% include ./_partial/footer %>
  <% include ./_partial/scripts %>

<script>
<% if (controller.threeDhtml) { %>
$(window).on('load',function(){
  $('#threeDmodal').modal('show');
})




<% } %>

</script>

</body>

</html>