<form onsubmit="beforeSubmit()" class="interactive-credit-card"
  action="<%=controller.paymentProvider.config.tdpost%>/<%=controller.paySession.sessionToken%>" method="post">




     
     <input type="hidden" value="<%=saved.data%>" name="cardToken" id="cardToken"
autocomplete="off" maxlength="64" />
<div class="p-2 "></div>
<div class="form-row align-items-center">


  <div class="col-auto">
    <button  name="makepayment" value="true" class="mb-2 pay-btn btn btn-success" type="submit"><i class="czi-card mr-2"></i><%=saved.name%> kartım ile öde</button>

  </div>

</div>

  






</form>
