<form onsubmit="beforeSubmit()" class="interactive-credit-card"
  action="<%=controller.paymentProvider.config.tdpost%>/<%=controller.paySession.sessionToken%>" method="post">




     
     <input type="hidden" value="<%=saved.data%>" name="cardToken" id="cardToken"
autocomplete="off" maxlength="64" />
<div class="">
  <div class="p-2 "><%=saved.name%> ile öde</div>
<button  name="makepayment" value="true" class="pay-btn btn btn-sm btn-success" type="submit"><i class="czi-thumb-up mr-2"></i>Ödeme Yap</button>

</div>

</form>
