<% 
  var dispatchers =  alternates
  
%>

<div  class="modal fade" id="butcher-alternatives">
  <div class="modal-dialog modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Diğer Kasaplar</h6>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div  class="modal-body p-0">
        <div  class="p-0">
          
          <div class="tab-content p-0 m-0 " id="butchers-serving-tabContent">
            <% if (dispatchers.length > 0) { %>
            <div  class="tab-pane fade show active" id="serving" role="tabpanel">
              
                <div v-if="product" v-for="(alt, index) in product.alternateButchers" class="bg-secondary border-bottom p-3">
                  <a class="media align-items-center" :data-butcher="alt.butcher.slug" href="#newbutcher" @click="selectNewButcher(alt.butcher)">
                   
                      <img
                      class="rounded-circle header-img"  :src="alt.butcher.thumbnail" :alt="alt.butcher.name">

                 

                    
                    <div class="media-body pl-2">
                      <h5 class="h6 mb-1">{{alt.butcher.name}}</h5>
                      
                        <div v-if="alt.butcher.badges.length > 0" class="butcher-badges">
              
                        
                     
                        <span v-for="(badge, index) in alt.butcher.badges" class="badge badge-secondary border font-size-xs mr-1">
                          <i v-if="badge.icon" :class="badge.icon || '' + 'mr-1'"></i>
                          {{badge.name}}
              
                        </span>
                     
                    </div>
                        <money-view v-if="!alt.butcher.kgPrice" :unit="selectedUnit.unitTitle" 
                        v-if="selectedUnitForAlternate(alt.butcher)" 
                        class="font-size-sm text-accent" :money="selectedUnitForAlternate(alt.butcher).unitPrice"></money-view>
                        <money-view v-else unit="Kg" 
                        
                        class="font-size-sm text-accent" :money="alt.butcher.kgPrice"></money-view>
                        <span class="d-block text-muted font-size-xs">
                           {{alt.dispatcher.userNote}} 
                        </span>
                        <span class="d-block mt-2 font-size-sm text-info" v-if="alt.butcher.productNote">
                          "
                          {{alt.butcher.productNote}}
                          "
                        </span>

                        <div class="row">
                          <div class="mt-2 col" v-if="alt.butcher.userRatingAsPerc > 0">
                            <div class="font-size-xs text-muted ">Memnuniyet</div>
                            <div class="progress">
                              <div class="progress-bar font-weight-medium bg-info" role="progressbar" :style="'width:' + alt.butcher.userRatingAsPerc + '%'" :aria-valuenow="alt.butcher.userRatingAsPerc" aria-valuemin="0" aria-valuemax="100">
                                {{alt.butcher.userRatingAsPerc}}%
                              </div>  
                            </div>
                          </div>
                          <div class="mt-2 col" v-if="alt.butcher.shipRatingAsPerc > 0">
                            <div class="font-size-xs text-muted ">Teslimat</div>
                            <div class="progress ">
                              <div class="progress-bar font-weight-medium bg-info" role="progressbar" :style="'width:' + alt.butcher.shipRatingAsPerc + '%'" :aria-valuenow="alt.butcher.shipRatingAsPerc" aria-valuemin="0" aria-valuemax="100">
                                {{alt.butcher.shipRatingAsPerc}}%
                              </div>  
                            </div>
                          </div>
                         
                    
                         

                         
                        </div>
                    </div>
                  </a></div> 
             
            </div>
            <% } %>
          </div>
     

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Kapat</button>
      </div>

    </div>
  </div>
</div>