<% 
  var dispatchers =  alternates
  
%>

<div  class="modal" role="dialog" aria-labelledby="butcher-alternatives-label"  id="butcher-alternatives">
  <div class="modal-dialog modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="d-none modal-header text-center">
        <h6 id="butcher-alternatives-label" class="modal-title">Diğer Kasaplar</h6>
        <button class="close d-none" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
            
      </div>

      <div  class="modal-body p-0">
        <div class="p-0 ">
          <ul v-if="product  && (product.alternateButchers.length > 1)"  class="nav   nav-pills nav-pills-dark nav-fill  mb-2">
            <li class="nav-item mr-0">
              <a class="nav-link shadow-none font-size-xs" @click="alternateSort = null" v-bind:class="{ active: alternateSort == null }">Oto Sıra</a>
    
            </li>
    
            <li class="nav-item mr-0">
              <a class="nav-link shadow-none font-size-xs" @click="alternateSort = toggleSort(alternateSort, 'butcher.kgPrice', 'asc')" v-bind:class="{ active: isSorted(alternateSort, 'butcher.kgPrice') }">Fiyat</a>
    
            </li>
            <li class="nav-item mr-0">
              <a class="nav-link  shadow-none font-size-xs" @click="alternateSort = toggleSort(alternateSort, 'butcher.userRatingAsPerc', 'desc') " v-bind:class="{ active: isSorted(alternateSort, 'butcher.userRatingAsPerc') }">Memnuniyet</a>
    
            </li>
            <li class="nav-item mr-0">
              <a class="nav-link  shadow-none font-size-xs" @click="alternateSort = toggleSort(alternateSort, 'dispatcher.distance', 'asc')" v-bind:class="{ active: isSorted(alternateSort, 'dispatcher.distance')  }">Yakınlık</a>
    
            </li>
          </ul>          
          <div class="tab-content p-0 m-0 " id="butchers-serving-tabContent">
            <% if (dispatchers.length > 0) { %>
            <div  class="tab-pane fade show active" id="serving" role="tabpanel">
            
         


              <div v-if="product">
                <div class="mb-2 border-bottom" v-for="(alt, index) in sortedAlternates">
                  <a class="media px-2 align-items-start flex-grow-1" :data-butcher="alt.butcher.slug" href="#newbutcher" @click="selectNewButcher(alt.butcher)">
                 
                     <img class="w-25 align-self-start"
                        :src="alt.butcher.thumbnail" :alt="alt.butcher.name">
    
                  
    
                    
                    <div class="media-body align-self-start px-2">


                      <div class="d-flex align-items-center justify-content-between">
                        <h6 class="h6 mb-0 mr-2">{{alt.butcher.name}}</h6>
                       
                          <span v-if="alt.butcher.puanData" class="badge badge-success font-weight-medium">
                            %{{alt.butcher.puanData.rate * 100 }}  Puan
                          </span>
                        
                      </div>

                      

                      <div class="text-muted font-size-xs mb-2" >
                        <span v-if="alt.butcher.locationText" class="d-block">
                          {{alt.butcher.locationText}}{{alt.dispatcher.distance && (alt.dispatcher.distance < 50) ? ', ' + alt.dispatcher.distance.toFixed(0) + 'km':''}}

                        </span>
                        
                       <span v-if="alt.dispatcher.priceInfo || alt.dispatcher.userNote" >{{ alt.dispatcher.userNote || alt.dispatcher.priceInfo}}</span>.
                       <span v-if="alt.dispatcher.minCalculated > 0.00">En az
                        <money-view class="font-weight-medium" :money="alt.dispatcher.minCalculated"></money-view> sipariş kabul edilmektedir.</span>
              
                      </div>
                      
                      <div class="mb-2 text-right">
                                          
                        <money-view v-if="!alt.butcher.kgPrice && selectedUnitForAlternate(alt.butcher)" :unit="selectedUnitForAlternate(alt.butcher).unitTitle" 
                        
                        class="  border p-2 text-dark bg-white font-size-md" :money="selectedUnitForAlternate(alt.butcher).unitPrice"></money-view>
                        <money-view v-else unit="Kg" 
                        
                        class=" border p-2 text-dark bg-white font-size-md" :money="alt.butcher.kgPrice"></money-view>
                      </div>


          
                     
                       
                       
                        
                     
                          <div class="font-size-sm font-italic text-dark" v-if="alt.butcher.productNote" v-html="alt.butcher.productNote">                            
     
                          </div>   

             
                       
                     
              
    
    
                    </div>
                  </a>
                
                  <div class="border-bottom px-2 mb-2">
                    <div v-if="false && alt.butcher.shipSuccessText" class="text-center text-dark font-size-xs">
                      {{alt.butcher.shipSuccessText}} sipariş
                    </div>
                    <div class="d-flex w-100">
                      <div class="w-50 pr-2" v-if="alt.butcher.userRatingAsPerc > 0">
                        <div class="font-size-xs text-muted ">Memnuniyet</div>
                        <div class="progress rounded-0">
                          <div class="progress-bar font-weight-medium bg-warning" role="progressbar" :style="'width:' + alt.butcher.userRatingAsPerc + '%'" :aria-valuenow="alt.butcher.userRatingAsPerc" aria-valuemin="0" aria-valuemax="100">
                            {{alt.butcher.userRatingAsPerc}}%
                          </div>  
                        </div>
                      </div>
                      <div class="w-50 " v-if="alt.butcher.shipRatingAsPerc > 0">
                        <div class="font-size-xs text-muted ">Teslimat Başarısı</div>
                        <div class="progress rounded-0">
                          <div class="progress-bar font-weight-medium bg-warning" role="progressbar" :style="'width:' + alt.butcher.shipRatingAsPerc + '%'" :aria-valuenow="alt.butcher.shipRatingAsPerc" aria-valuemin="0" aria-valuemax="100">
                            {{alt.butcher.shipRatingAsPerc}}%
                          </div>  
                        </div>
                      </div>
                     
                
                     

                     
                    </div>
                  </div>      
                </div> 
              </div>
         
             
            </div>
            <% } %>
          </div>
     

        </div>
      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Kapat</button>
      </div> 

    </div>
  </div>
</div>