
     <!-- <div class="row">
        
        <div class="col text-center">
            
            <p>bu hafta</p>
        </div> 


    customer: number;
    ship: number;
    semt: number;
    product: number;
    </div>  -->
    <div class="row text-center">
        <div class="col-md-3 col-6">
            <div class="counter">
                <h2 class="timer count-title count-number" data-to="<%=stats.customer%>" data-speed="1500">0</h2>
                <p class="count-text ">Yeni Müşteri</p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="counter">
                <h2 class=" timer count-title count-percent"  data-to="<%=stats.ship%>" data-speed="1500">0</h2>
                <p class="count-text ">Teslimat Başarısı</p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="counter">
                <h2 class="timer count-title count-kg" data-to="<%=stats.kg%>" data-speed="1500">0</h2>
                <p class="count-text ">Et Hacmi</p>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="counter">
                <h2 class="timer count-title count-number" data-to="<%=stats.product%>" data-speed="1500">0</h2>
                <p class="count-text ">Toplam Ürün</p>
            </div>
        </div>
    </div>
