<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" media="screen" href="/static/css/vendor.min.css">
<link rel="stylesheet" media="screen" id="main-styles" href="/static/css/theme.min.css">

<title>
    <%= typeof pageTitle == 'undefined' ? "Seçkin kasaplardan doğal, taze, güvenilir et siparişi.": (pageTitle + " | kasaptanal.com") %>
</title>
<meta name="description"
    content="<%= typeof pageDescription == 'undefined' ? 'Birinci sınıf et ve et ürünleri kasaptanal.com&#39;da. Bir tıkla en lezzetli etler en seçkin kasaplardan kapına gelsin.': (pageDescription) %>"
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/icon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icon/favicon-16x16.png">
<link rel="manifest" href="/static/img/icon/site.webmanifest">
<link rel="mask-icon" href="/static/img/icon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/icon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/icon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">



<% if (config.nodeenv == "production") { %>
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PFN2D3P');</script>
<!-- End Google Tag Manager -->
<% } %>