<%
    var link = '/blog/ciger-gercegi';
%>


<a href="<%=link%>" class="d-block home-carousel rounded">
    <img width="500" height="333" class="rounded" src="<%=`${__config.staticDomain}/content-resimleri/ciger-gercegi-thumbnail.jpg` %>" alt="">
    <div class="content rounded-bottom p-2">
      <h5 class="h5 mb-0 text-white"> En süper gıdalardan Ciğer'i yakından tanıyın</h5>
    </div>
</a>



