<%
    var link = '/premium-etler';
%>


<a href="<%=link%>" class="d-block home-carousel app_blank">
    <img width="500" height="333" src="<%=`${__config.staticDomain}/content-resimleri/dry-aged-et-nedir-thumbnail.jpg` %>" alt="">
    <div class="content p-2">
      <h5 class="h5 mb-0 text-white">Premium ürünlerimizi keşfedin</h5>
    </div>
</a>


