<%
    var link = '/kasap-urunleri';
%>

<a href="<%=link%>" class="d-block home-carousel" >
    <img width="500" height="333"  src="<%=`${__config.staticDomain}/content-resimleri/home-slider-slogan.jpg` %>" alt="">
    <div class="content p-2">
      <h1 class="h5 font-size-lg mb-0 text-white">Online Kasap Alışverişi & Et Siparişi</h1>
    </div>
</a>