<%
    var link = '/neden-kasaptanal';
%>



    <a href="<%=link%>" class="d-block app_blank  home-carousel">
        <img width="500" class="rounded" height="333" src="<%=`${__config.staticDomain}/content-resimleri/antrikot-thumbnail.jpg` %>" alt="">
        <div class="content rounded-bottom  p-2">
          <h5 class="mb-0 h5 text-white">Taze et, firesiz fiyatlar ve puan kazancı bir arada</h5>
        </div>
    </a>



  