<div class="card border-0 rounded-0 h-100 bg-secondary mb-2 text-center pb-0  ">
    <a class="d-block" href="/blog/et-besin-degerleri-etiketleri">
        <img  width="500" height="333"  title="" 
            src="<%=`${__config.staticDomain}/content-resimleri/iade-i-itibar-thumbnail.jpg` %>"
            alt=""></a>
        <div class="card-body d-flex flex-column p-2">
            <h2 class="h6 mb-auto pb-2 text-center font-weight-normal">
                Etlerin Protein ve Yağ Değer Etiketleri
            </h2>

                

            <div class="d-flex justify-content-center">
            
                    <a class="btn btn-sm btn-outline-primary mr-2" href="/blog/et-besin-degerleri-etiketleri">Daha Fazla Bilgi</a>


            </div>
        </div>
</div>


