<%
    var link = '/kasap-urunleri';
%>


<a href="<%=link%>" class="d-block home-carousel" >
    <img width="500" height="333" class="rounded" src="<%=`${__config.staticDomain}/content-resimleri/kasap-kart-thumbnail.jpg` %>" alt="">
    <div class="content rounded-bottom p-2">
      <h1 class="h5 mb-0 text-white">Online Kasap Alışverişi & Et Siparişi</h1>
    </div>
</a>


