<div class="card bg-secondary shadow rounded-0 h-100 text-center pb-0  ">
    <a class="d-block" href="/blog/et-besin-degerleri-etiketleri">
        <img  width="500" height="333"  title="" 
            src="<%=`${__config.staticDomain}/content-resimleri/iade-i-itibar-thumbnail.jpg` %>"
            alt=""></a>
        <div class="card-body d-flex flex-column">
            <h2 class="h4 mb-auto pb-2 text-center">
                Etlerin Protein ve Yağ Değer Etiketleri
            </h2>

                
            <p class="card-text">Et ve et ürünleri besin değerleri KasaptanAl.com'da.</p>

            <div class="d-flex justify-content-center">
            
                    <a class="btn btn-outline-primary mr-2" href="/blog/et-besin-degerleri-etiketleri">Daha Fazla Bilgi</a>


            </div>
        </div>
</div>


