<%
    var link = '/blog/ciger-gercegi';
%>


<a href="<%=link%>" class="d-block home-carousel app_blank">
    <img width="500" height="333"  src="<%=`${__config.staticDomain}/content-resimleri/ciger-gercegi-thumbnail.jpg` %>" alt="">
    <div class="content p-2">
      <h5 class="h5 font-size-lg mb-0 text-white">Dünyanın en süper gıdası</h5>
    </div>
</a>



