<div class="card shadow bg-secondary rounded-0 h-100 text-center pb-0  ">
    <a class="d-block" href="/blog/kasap-kart">
        <img  width="500" height="333"  title="" 
            src="<%=`${__config.staticDomain}/content-resimleri/onlinekasap-thumbnail.jpg` %>"
            alt=""></a>
        <div class="card-body d-flex flex-column p-3">
            <h2 class="h6 mb-auto pb-2 text-center">
                Firesiz fiyatlar ve puan kazancı bir arada 
            </h2>

                

            <div class="d-flex justify-content-center">
                <% if (__req.prefAddr) { %>
                    <a class="btn btn-sm btn-primary mr-2" href="/kasap-urunleri">Alışverişe Başla</a>
                <% } else { %>
                    <a data-return="/kasap-urunleri" class="mr-2 btn-sm select-area-action btn btn-primary">Semtinizi Seçin</a>

                <% } %>
                    <a class="btn btn-sm btn-outline-dark mr-2" href="/blog/kasap-kart">Kasap Kart™</a>


            </div>
        </div>
</div>


