<div class="card shadow bg-secondary rounded-0 h-100 text-center pb-0  ">
    <a class="d-block" href="/premium-etler">
        <img  width="500" height="333"  title="" 
            src="<%=`${__config.staticDomain}/content-resimleri/dry-aged-et-nedir-thumbnail.jpg` %>"
            alt=""></a>
        <div class="card-body d-flex flex-column p-3">
            <h2 class="h6 mb-auto pb-2 text-center">
                Dry/Wet Aged ve premium ürünlerimiz 
            </h2>

                

            <div class="d-flex justify-content-center">
            
                    <a class="btn btn-sm btn-outline-primary mr-2" href="/premium-etler">Premium Etler</a>


            </div>
        </div>
</div>


