<%
    var link = '/blog/et-besin-degerleri-etiketleri';
%>


<a href="<%=link%>" class="d-block home-carousel rounded">
    <img width="500" height="333" class="rounded" src="<%=`${__config.staticDomain}/content-resimleri/et-besin-degerleri-etiketleri.jpg` %>" alt="">
    <div class="content rounded-bottom p-2">
      <h5 class="h5 mb-0 text-white">Besin etiketleri KasaptanAl.com'da</h5>
    </div>
</a>



