<div class="modal fade" style="z-index: 10555;" id="size-chart">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">{{options.title  || 'İhtiyacı belirleyelim'}} </h6>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body p-0">
        <div class="" id="weightcalculatorapp">
          <div v-if="productView"
            class="px-3 py-3  d-flex border-bottom flex-nowrap bg-secondary justify-content-center align-items-center">
            <div class="pr-2 w-50">
              <img :src="food.url" class=" rounded" alt="">
            </div>
            <div class="font-size-md text-center">
              <!-- <h6>{{productName}}</h6> -->
              <span>

              </span>
              <span class="font-weight-medium">
                {{food.title}}
              </span>
              <span>
                için kasabımız
              </span>
              <span class="font-weight-medium text-nowrap">
                {{product.name}}
              </span>
              <span>
                önermektedir.
              </span>

            </div>
            <!-- <div class="pr-2 w-50">
                <img :src="food.url" class=" rounded" alt="">

              </div> -->

          </div>

          <div class="bg-secondary border-bottom  pt-2">
            <div class=" d-flex align-items-center justify-content-center mb-1">
              <span class="font-weight-medium">Kaç kişilik hazırlayalım ?</span>
            </div>



            <amount-input class="" :def="2" :min="1" :max="25" :step="1" v-model="personcount" unit="kişi">
            </amount-input>

          </div>




          <div class="pt-2 mb-2" v-if="personcount > 0">

            <div class="form-group px-4 mt-2 mb-2">
              <!-- <label class="mb-2" for="wanote"><span
                class="badge badge-accent font-size-xs mr-2">Notunuz</span><span class="font-size-sm"></span>
                
            

               
              </label> -->
              <textarea v-model="cardnote" :placeholder="cardnoteph || 'bizlere iletmek istediğiniz notunuz varsa burayı kullanabilirsiniz.'"
                class="form-control font-size-sm" rows="4" name="wanote" id="wanote">


                                              </textarea>
            </div>
            <div class="mb-2 font-size-xs px-4" v-if="note">
              <span
                class="badge badge-accent font-size-xs mr-2">Bilginize</span><span class="font-size-sm">{{note}}</span>

             </div>

            <div class="d-flex align-items-center justify-content-center">
              <button v-for="(option, index) in result" data-dismiss="modal" @click="setUnit(option)"
                class="btn mr-2 btn-primary">
                <i class="czi-check mr-1"></i>
                <span v-if="option.unit != 'kg'">
                  {{option.quantity}} {{option.unit}}
                </span>

                <weight-view v-if="option.unit == 'kg'" :kg=option.quantity></weight-view>

              </button>
            </div>


            <!-- <ul class="list-unstyled font-weight-medium">
                <li v-for="(option, index) in result" class="pb-1 pt-1 d-flex align-items-center justify-content-between">
                  <a v-if="option.unit != 'kg'" class="">
                    {{option.quantity}} {{option.unit}}
                  </a>

                  <weight-view v-if="option.unit == 'kg'" :kg=option.quantity></weight-view>
                  <button data-dismiss="modal" @click="setUnit(option)" class="btn btn-sm btn-primary">Seç</button>
                </li>
              </ul> -->
          </div>









        </div>
      </div>
    </div>
  </div>
</div>