<ul class="list font-size-sm">
    <% if (man.kiminadina) { %>
        <li>
            <%=man.kiminadina %> adına kesilecek kurbanım
    
        </li>
        <% } %>    
    <li>
       <%= man.constructor.vekaletData[man.vekalet] %>
    </li>
    <li>
        <%=man.constructor.videoData[man.video] %>
    </li>
</ul>