<% var butcher = typeof(butcher) != 'undefined' ? butcher: null %>
<% if (typeof (viewMode) == 'undefined' || viewMode == 'tab') { %>
<div class="row">
    <% if (typeof(products) != 'undefined') {  %>
    <% for(var j=0; j< products.length; j++) {%>
    <div class="col-md-3 col-6  py-2">
        
        <%- include('./product-view.ejs', {product: products[j]}) %>
    </div>
    <% } %>

    <% } else if (typeof (butcherProducts) != 'undefined') { %>
        <% for(var j=0; j< butcherProducts.length; j++) {%>
            <div class="col-md-3 col-6 py-2">
                
                <%- include('./product-view.ejs', {butcherProduct: butcherProducts[j]}) %>
            </div>
            <% } %>
        
    <% } %>
</div>
<%} else { %>

    <div data-simplebar data-simplebar-auto-hide="false">
        <div class="d-flex pb-2">
            <% var items= products %>
            <% for (var j=0; j < items.length;j++) { %>
                
                     
                    <div class="mb-2">
                        <div class="mr-2 item-slider">
                            <%- include('./product-view.ejs', {butcher: butcher, product: items[j]}); %>
                        </div>
                    </div>
                    <%}%>

                    <div>
                        <div class="h-100">
                            <div class="item-slider item-slider-all">
                              <a class="d-block h-100" href="/kasaplar">
                                <div class="d-flex h-100 justify-content-end">
                                  <img width="500" height="500" alt="Tümünü Göster" class="w-auto align-self-center" src="<%=__config.staticDomain %>/resource/img/view-all.png">
                                </div>
            
                              </a>
                         
            
                           
            
                            </div>
            
                        </div>
                    </div>

        </div>
    </div>





<% } %>