<ul class="list font-size-sm">
    <li>
       <%= man.constructor.vekaletData[man.vekalet] %>
    </li>
    <li>
        <%=man.constructor.videoData[man.video] %>
    </li>
    <li>
        <%=man.constructor.teslimatData[man.teslimat] %>
    </li>
</ul>