<% var hideMinPuanForUsage = typeof(hideMinPuanForUsage) == 'undefined' ? false: hideMinPuanForUsage %>
<% var hideMinSales = typeof(hideMinSales) == 'undefined' ? false: hideMinSales %>



      <span>
        <% if (puan.minSales > 0.00 && !hideMinSales) { %>
          <%- include('./currency.ejs', {value: puan.minSales}) %> ve üzeri alışveriş yapın,
  
        <% } else if (!hideMinSales) { %>
          Tüm alışverişlerinizden
        <% } %>
          <span class="font-weight-bolder"><%= puan.rate ? '%' + (puan.rate * 100): __helper.formattedCurrency(puan.fixed) %> puan</span>
         kazanın.

        <!-- <% if (puan.minPuanForUsage > 0.00 && !hideMinPuanForUsage) { %>
            <br>
            <%- include('./currency.ejs', {value: puan.minPuanForUsage}) %> puanınız birikince, güle güle harcayın. 
          
          <% } %> -->

        </span>

    
