<div id="quickorder">
    <div class="modal modal-fullscreen-sm" id="quickordermodal" tabindex="-1" role="dialog" data-keyboard="false"
        aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> {{butchername || 'Pratik sipariş'}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-3">
                    <form @submit="checkForm" method="post">

                        <h5 v-if="step==1" class="h5">Siparişinizi kasabımıza iletin, hemen hazırlayıp gönderelim.</h5>
                        <p class="text-primary" v-if="errors.length">
                            <b>Lütfen aşağıdaki hataları düzeltin:</b>
                        <ul>
                            <li v-for="error in errors">{{ error }}</li>
                        </ul>
                        </p>

                        <div v-if="step==2">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Adınız ve Soyadınız</label>
                                    <input v-model="custName" required type="text" class="form-control"
                                        placeholder="kimin adına gönderelim">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Cep Telefonunuz</label>

                                    <input v-model="custPhone" class="form-control iphone" minlength="10"
                                        placeholder="5xx" maxlength="15" type="tel" id="tel" required>

                                    <div class="invalid-feedback">Geçersiz telefon numarası.</div>

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input v-model="custEmail" required type="email" class="form-control"
                                        placeholder="bilgi mesajları için e-posta adresiniz">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">

                                    <textarea rows="2" v-model="custAddress" required class="form-control"
                                        placeholder="teslimat adresiniz"></textarea>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">

                                    <textarea rows="2" v-model="custNote" class="form-control"
                                        placeholder="ek notunuz varsa burayı kullanın"></textarea>
                                </div>

                            </div>
                        </div>
                        <div v-if="step==1">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Kasabımızdan taptaze neler istersiniz ? (kuzu veya dana belirtmeyi unutmayın)</label>
                                    <textarea rows="5" v-model="custOrder" required class="form-control"
                                        placeholder="Kuzu veya dana olarak ağırlık veya adetleriyle yazın. Örneğin &#13;&#10; 2kg kuzu kıyma &#13;&#10; 2kg dana kuşbaşı &#13;&#10; 1 adet sucuk gibi."></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between">
                            <button v-if="step==2" class="btn btn-primary">Siparişimi Oluştur</button>
                            <button type="button" :disabled="!custOrder" @click="goNext()" v-show="step==1"
                                class="btn btn-dark">İlerle</button>
                            <button type="button" @click="step=1" v-show="step ==2" class="btn btn-dark">Geri</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    window.quickOrderApp = new Vue({
        el: '#quickorder',

        mounted: function () {

        },

        data: function () {
            return {
                errors: [],
                butchername: '',
                butcherslug: '',
                custName: '',
                custPhone: '',
                custEmail: '',
                custOrder: '',
                custAddress: '',
                custNote: '',
                step: 1,
                prefAdr: {}
            }
        },

        computed: {


        },

        methods: {

            goNext() {
                window.App.gTag("user actions", "pratik sipariş ileri click", this.butchername);
                this.step = 2;
            },

            continueOrder() {
                App.Backend.post('order/manuelorders/create', {
                    butchername: this.butchername,
                    butcherslug: this.butcherslug,
                    custName: this.custName,
                    custPhone: this.custPhone,
                    custEmail: this.custEmail,
                    custOrder: this.custOrder,
                    custAddress: this.custAddress,
                    custNote: this.custNote,
                    prefAdr: this.prefAdr

                }, null, true).then(function (result) {
                    App.alert('Teşekkür ederiz, siparişinizi aldık. Herşey hazır olduğunda sizi bilgilendireceğiz.')
                    $('#quickordermodal').modal('hide');
                    window.App.gTag("user actions", "pratik sipariş alındı", this.butchername);

                }).catch(function (err) {
                    App.HandleError(err)
                })
            },

            checkForm: function (e) {
                this.errors = [];
                e.preventDefault();
                var self = this;

                if (!this.custOrder) {
                    this.errors.push('Lütfen içerik girin.')
                }

                if (this.errors.length) return;

                window.App.gTag("user actions", "pratik sipariş ver click", this.butchername);

                if (App.User.isAuthenticated && App.User.prefAdr) {
                    if (this.custAddress != App.User.address) this.prefAdr.lat = null;
                } else this.prefAdr.lat = null;

                var wait;

                if (!this.prefAdr.lat) {
                    $('#quickordermodal').modal('hide');
                    wait = App.latlngApp.initWithAddress({
                        address: this.custAddress
                    }).then(function (result) {
                        if (!result) {
                            alert('Maalesef böyle bir adres bulamadık, lütfen cadde veya sokak adını tam olarak yazıp tekrar deneyin.');
                            $('#quickordermodal').modal('show');
                        } else {
                            return result
                        }
                    }).finally(function () {
                       
                    }).catch(function(err) {
                        $('#quickordermodal').modal('show');
                    })
                } else wait = App.Promise.resolve();
                
                wait.then(function(location) {
                    if (location) {
                        this.prefAdr.lat = location.lat;
                        this.prefAdr.lng = location.lng
                    } else if (!this.prefAdr.lat) {
                        $('#quickordermodal').modal('show');
                        return;
                    };
                    //if (!confirm('Siparişinizi onaylıyor musunuz ?')) return;
                    $('#quickordermodal').modal('hide');
                    var auth = App.Auth.checkAuthentication(this.continueOrder.bind(this), '<h6>Muazzam ürünler!</h6><p>Güvenlik adımını şimdi tamamlayalım.</p>')
                    if (auth) this.continueOrder();
                    else {
                        $('#su-tel').val(this.custPhone);
                        $('#su-name').val(this.custName);
                        $('#su-email').val(this.custEmail);
                    }
                }.bind(this))
            },

            fillParams() {
                if (App.User.isAuthenticated) {
                    this.custEmail = App.User.email;
                    this.custName = App.User.name;
                    this.custPhone = App.User.mphone;
                    this.custAddress = App.User.address;
                    this.prefAdr = App.User.prefAdr;
                }
            },

            useUrl(urlParams) {
                this.butchername = urlParams.get('butchername');
                this.butcherslug = urlParams.get('butcherslug');
                this.fillParams();
                $('#quickordermodal').modal('show');
            },

            open(params) {
                if (!window.App.User.prefAdr) {
                    window.kb.selectArea(function (done, ul) {
                        params = params || {};
                        params.quickorder = 1;
                        window.location.href = "/adres-belirle/" + ul.selectedDistrict.slug + '?lng=' + ul.lng + '&lat=' + ul.lat + '&r=' + App.getUrl(location.href, params);

                    }, { msg: 'Lütfen önce mahallenizi seçin böylece hizmet verip veremeyeceğimizi kontrol edelim.' })
                } else {
                    this.step = 1;
                    var self = this;
                    Object.assign(self, params || {});
                    this.fillParams()
                    $('#quickordermodal').modal('show');
                }
            }
        }

    })



</script>

<%- include("./get-latlng.ejs", {}) %>

