<div id="quickorder">
    <div class="modal modal-fullscreen-sm" id="quickordermodal" tabindex="-1" role="dialog" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{edit && edit.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3">
                <form v-if="edit" @submit="checkForm" method="post">
                    <div class="bg-secondary p-3 border font-size-sm">
                        <h5 class="h6">Hızlı Sipariş</h5>
                    </div>

                    <p class="text-primary" v-if="errors.length">
                        <b>Lütfen aşağıdaki hataları düzeltin:</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                    </p>

                    <div>
                    </div>

                    <button class="btn btn-primary">Siparişimi Oluştur</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


<script>

    window.quickOrderApp = new Vue({
        el: '#quickorder',

        mounted: function () {

        },

        data: function () {
            return {
                errors: [],

            }
        },

        computed: {


        },

        methods: {

            checkForm: function (e) {
                this.errors = [];

                e.preventDefault();
                var self = this;
                App.Backend.post('', {

                }, null, true).then(function (result) {
                    self.updateItem(self.edit, result);
                    $('#quickordermodal').modal('hide');
                }).catch(function (err) {
                    App.HandleError(err)
                })
            },


            open({butcher}) {
                if (!window.App.prefAdr) {
                    window.kb.selectArea(function(done, ul) {
                        debugger
                        $('#quickordermodal').modal('show');
                        ul.hide();
                    })
                }
                
            }
        }

    })

</script>