<div class="sticky-top text-center bg-dark p-3">
    <p class="text-light">
      Kasaplar ve ürün fiyatları için lütfen önce teslimat bölgenizi seçin.
    </p>
    <a class="mb-2 select-area-action btn btn-sm btn-primary">Semt Seç</a>
  </div> 