<div class="tab-pane fade show active" id="signup-tab">
    <form class="needs-validation " autocomplete="off" onsubmit="App.Auth.signup()" novalidate id="signup-form-1">

 
         <div id="signupDlgMessageDiv" style="display: none;" class=" mb-3 ">
            

            <span id="signupDlgMessage"></span>
        </div> 

        <div class="form-group">
            <label for="su-tel">Cep Telefonunuz</label>
            
   <br>

            <input class="form-control iphone" minlength="10" maxlength="15" type="tel" id="su-tel" 
                required>

            <div class="invalid-feedback">Geçersiz telefon numarası.</div>
        </div>
        <div class="text-muted font-size-xs mb-3">
            Üye olarak <a href="javascript:App.agreementDialog('customeraym')">aydınlatma metini</a> okuduğunuzu, <a href="javascript:App.agreementDialog('customerkvkk')">KVKK politikasını</a> ve sitemizdeki tüm sözleşmeleri kabul etmiş sayılırsınız. 
        </div>


        <button id="btn-signup-sendsms" class="btn btn-primary btn-block" type="submit">Şifremi Gönder</button>
    </form>

    <form class="needs-validation d-none" autocomplete="off" onsubmit="App.Auth.signup_verify()" novalidate
        id="signup-form-2">
        <div class="form-group">
            <label for="su-sms">Şifreniz:</label>
            <div class="password-toggle">
                <input class="form-control" placeholder="cep telefonunuza gelen şifre" type="password" id="su-sms"
                    required>
                <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i
                        class="czi-eye password-toggle-indicator"></i><span class="sr-only">Şifreyi Göster</span>
                </label>
            </div>
        </div>



        <button id="signup-btn-verifysms"  class="btn btn-primary btn-block btn-shadow" type="submit">Doğrula</button>
    </form>

    <form class="needs-validation d-none" autocomplete="off" onsubmit="App.Auth.signup_complete()" novalidate
        id="signup-form-3">

        <div class="form-group">
            <!-- <label for="su-name">Ad Soyad</label> -->
            <input class="form-control" type="text" id="su-name" placeholder="adınız ve soyadınız" required>
            <div class="invalid-feedback">adınızı girin.</div>
        </div>
        <div class="form-row mb-3">
            <div class="col">
              <label>Cinsiyetiniz</label>
              <select class="form-control" name="sex" id="sex" required>
                  <option value=""></option>
                  <option value="K">Kadın</option>
                  <option value="E">Erkek</option>
              </select>
            </div>
            <div class="col">
                <label>Doğduğunuz Yıl</label>
              <input name="birthYear" id="birthYear" type="number" min="1920" max="2021" required class="form-control" placeholder="1977 gibi">
            </div>
          </div>
        <div class="form-group">
            <!-- <label for="su-email">E-Posta Adresi</label> -->
            <input class="form-control" type="email" id="su-email" placeholder="e-posta adresiniz" required>
            <div class="invalid-feedback">Geçersiz e-posta adresi.</div>
        </div>

        <button id="signup-btn-complete" class="btn btn-primary btn-block btn-shadow" type="submit">Tamamla</button>
    </form>
</div>