<div id="signin-tab" class="tab-pane fade ">
    <form class="needs-validation" onsubmit="App.Auth.signin()" autocomplete="off" novalidate id="signin-form">
        <div class="d-none alert text-center alert-info" id="signinMsg"></div>
        <div class="form-group">
            <!-- <label for="si-email">Cep Telefonun veya e-Posta Adresin</label> -->
            <input class="form-control" autocomplete="username" minlength="5" maxlength="30" type="text" id="si-email"
                placeholder="cep telefonu veya e-posta" required>
            <div class="invalid-feedback">Geçersiz tel veya e-posta adresi

            </div>
        </div>
        <div class="form-group">
            <!-- <label for="si-password">Şifren</label> -->
            <div class="password-toggle">
                <input class="form-control"  placeholder="şifre" type="password" id="si-password" required>
                <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i
                        class="czi-eye password-toggle-indicator"></i><span class="sr-only">Şifreyi Göster</span>
                </label>
            </div>
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between">
            <div class="custom-control custom-checkbox mb-2">
                <input class="custom-control-input" type="checkbox" id="si-remember">
                <label class="custom-control-label" for="si-remember">Beni Hatırla</label>
            </div><a class="font-size-sm" id="si-resetpwd" href="/reset-password">Şifremi Unuttum</a>
        </div>
        <button id= "signin-btn" class="btn btn-primary btn-block" type="submit">Giriş Yap</button>
    </form>
</div>