<div class="tab-pane fade show active" id="signup-tab">
    <form class="needs-validation " autocomplete="off" onsubmit="App.Auth.signup()" novalidate id="signup-form-1">


        <div v-if="note" class="alert rounded-0 alert-info alert-with-icon font-size-sm mb-3" role="alert">
            <div class="alert-icon-box rounded-0"><i class="alert-icon czi-announcement"></i></div>

            <b>30sn</b>'de kaydolun, daha önce kayıt olduysanız <a class="font-size-sm text-decoration-none alert-link" href="javascript:window.App.activaTab('signin-tab')">giriş yapın</a> veya <a class="font-size-sm text-decoration-none alert-link" href="/reset-password">yeni şifre</a> alın.
        </div>

        <div class="form-group">
            <label for="su-tel">Cep Telefonu</label>
            <input class="form-control" minlength="10" maxlength="15" type="tel" id="su-tel" placeholder="5xxxxxxxxx"
                required>
            <div class="invalid-feedback">Geçersiz telefon numarası.</div>
        </div>
        <div class="form-group d-flex flex-wrap justify-content-between">
            <div class="custom-control custom-checkbox mb-2">
                <input class="custom-control-input" type="checkbox" checked >
                <label class="custom-control-label" for="si-remember">Gizlilik sözleşmesini okudum ve kabul ediyorum.</label>
            </div>
        </div>


        <button class="btn btn-primary btn-block btn-shadow" type="submit">Şifremi Gönder</button>
    </form>

    <form class="needs-validation d-none" autocomplete="off" onsubmit="App.Auth.signup_verify()" novalidate
        id="signup-form-2">
        <div class="alert alert-info" role="alert">
            Şifrenizi cep telefonunuza ilettik. Şifrenizi aşağıya girerek hesabınızı oluşturun.
        </div>
        <div class="form-group">
            <label for="su-sms">Şifren</label>
            <div class="password-toggle">
                <input class="form-control" placeholder="telefonuna ilettiğimiz şifren" type="password" id="su-sms"
                    required>
                <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox"><i
                        class="czi-eye password-toggle-indicator"></i><span class="sr-only">Şifreyi Göster</span>
                </label>
            </div>
        </div>



        <button  class="btn btn-primary btn-block btn-shadow" type="submit">Doğrula</button>
    </form>

    <form class="needs-validation d-none" autocomplete="off" onsubmit="App.Auth.signup_complete()" novalidate
        id="signup-form-3">
        <div class="alert alert-info" role="alert">
            Son adımda adın ve e-posta adresini alarak işi tamamlıyoruz.
        </div>
        <div class="form-group">
            <!-- <label for="su-name">Ad Soyad</label> -->
            <input class="form-control" type="text" id="su-name" placeholder="adın ve soyadın" required>
            <div class="invalid-feedback">Lütfen adını gir.</div>
        </div>
        <div class="form-group">
            <!-- <label for="su-email">E-Posta Adresi</label> -->
            <input class="form-control" type="email" id="su-email" placeholder="e-posta adresin" required>
            <div class="invalid-feedback">Geçersiz e-posta adresi.</div>
        </div>

        <button class="btn btn-primary btn-block btn-shadow" type="submit">Tamamla</button>
    </form>

    <form class="needs-validation d-none" autocomplete="off" onsubmit="App.Auth.signup_complete()" novalidate
        id="signup-form-4">
        thanks

        <button class="btn btn-primary btn-block btn-shadow" type="submit">Tamamla</button>
    </form>
</div>