
    <div class="mb-3">
            <div  id="userlocationapp" class="mb-3 d-flex justify-content-center">
                <a class="btn btn-primary" v-if="!list || list.length == 0" id="semt-from-device"  @click="locateSemt()">
                    <i class="czi-location"></i>
                     Konumumu Kullan</a>
                    <div v-if="list && list.length > 0">
                      
                        <div v-for="(addr, index) in list" class="mb-2">
                              <a class="btn btn-sm btn-secondary d-block" @click="go(addr)">{{addr.display}}</a>
              
                          </div>                
                    </div>
            </div>

            <input title="seçim" data-none-selected-text="seçim yapın" , data-search="area" id="page-searchbox"
                class="form-control searchBox-semt prepended-form-control" data-noresults-text="Maalesef bulamadık. Listeden seçim yapabilirsiniz."
                autocomplete="off" type="search" placeholder="veya mahallenizi arayın">
       
 
       
    </div>
    <div class="mb-2 text-right">
        <a onclick="$('#select-areafrom-list').toggle();">Listeden Seç &raquo;</a>
    </div>
    <div id="select-areafrom-list" style="display: none;" class="">
        <div class="">
            <div class="">
                <div id="cityselectpickerDiv" class="form-group">
                    <select id="cityselectpicker">
                    </select>
                </div>
            </div>
            <div class="">
                <div id="ilceselectpickerDiv" class="form-group">
                    <select data-live-search="true" id="ilceselectpicker">
                    </select>
                </div>
            </div>
            <div class="">
                <div id="districtselectpickerDiv" class="form-group">
                    <select data-live-search="true" id="districtselectpicker">
                    </select>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button id="exploreAreaButton" type="button" class="btn btn-dark">Seç</button>
    
        </div>
    </div>
    
    

