<div id="cityselectpickerDiv" class="form-group">
    <select id="cityselectpicker" >
    </select>
</div>
 <!-- <div id="ilceselectpickerDiv" class="form-group">
    <select data-live-search="true" id="ilceselectpicker">
    </select>
</div>   -->
 <div id="districtselectpickerDiv" class="form-group">
    <select data-live-search="true" id="districtselectpicker">
    </select>
</div> ,