
<div class="row">

<% for(var i = 0; i < 7; i++) { %>
    <% let works = butcher[`shipday${i}`] %>
<div class="col-6">
    <span>
        <i class="mr-1 czi-icon <%=works ? 'czi-check-circle text-success': 'czi-close-circle text-danger'%>"></i>
        <%=__helper.days[i]%>
    </span>
    
</div>
<% } %>

</div>