<!DOCTYPE html>
<html lang="tr-TR" prefix="og: http://ogp.me/ns#">

<head>
    <% include ./_partial/head %>
</head>

<body>
    <% include ./_partial/header %>
    <!-- Page Content -->
    <div class="container-fluid m-4">
        <h1>Menü</h4>
    </div>
    <div class="container-fluid">
        <div id="main">
            <ul class="list-group">
                <li class="list-group-item"><a href="product/list">Ürünler</a></li>
                <% if (__req.user.hasRole('admin')) { %>
                <li class="list-group-item"><a href="butcher/list">Kasaplar</a></li>
                <li class="list-group-item"><a href="category/list">Kategoriler</a></li>
                <li class="list-group-item"><a href="butcher/googlesearch">Kasap Ara</a></li>
                <li class="list-group-item"><a href="admin/manageproduct">Ürün Yönetimi</a></li>
                <%}%>
                <li class="list-group-item"><a href="admin/clearcache">Clear Cache</a></li>
            </ul>
        </div>
    </div>


    <% include ./_partial/scripts %>
    <script>
        window.App.Ready.then(function () {


        })
    </script>
</body>

</html>