

.reyon-navbar {
  li {
    img {
      width: 2.875rem;
    }
  }
}

.blog-entry-title > a {
  color: $blog-entry-title-color;
  text-decoration: none !important;
  line-height: 1.3;
  &:hover {
    color: $blog-entry-title-hover-color;
  }
}

.kurban {
  background-color: #cc7e23 !important;
}

a:hover {
  cursor:pointer;
 }

.home-carousel-item {
  text-align: center;

  min-height: 18rem;

}

.carousel-caption {
}






.butcher-badge {
  font-size: $font-size-xs;
  margin-right: 2px;  
}

.item-slider-selected {
  border-bottom: $primary 2px solid;
}

.item-slider-unselected {
  opacity: 0.6;
}

.line-h-extra {
  line-height: 150%;
}

.collapse-container {
  font-size: 14px;
  line-height: 1.8;
}

.collapse-container div.collapse:not(.show) {
    height: 38px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.collapse-container div.collapsing {
    min-height: 38px !important;
}

.collapse-container a.collapsed:after  {
    content: '+ Devamını Göster';
}

.collapse-container a:not(.collapsed):after {
    content: '- Devamını Gizle';
}

.page-footer-text, .user-content {
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.0625rem;
  }
}


.product-card, .touch-support {
  touch-action: manipulation;
       user-select: none;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
}

a {
  text-decoration: none !important;
}

.avatar {
  border-radius: 50%;
  display: inline-block;
  height: 48px;
  position: relative;
  width: 48px;
  margin-right: 2px;

    img {
      border-radius: 50%;
    height: 48px;
    width: 48px;
    }


    .approved {
      position: absolute;
    top: -3px;
    right: 8px;
    color: #00f;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='21' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='none'%3E%3Cdefs%3E%3Cpath d='M14.417 0l1.872 3.202 3.605.8-.328 3.72L22 10.5l-2.434 2.778.328 3.72-3.605.8L14.417 21 11 19.54 7.583 21l-1.872-3.155-3.605-.847.328-3.72L0 10.5l2.434-2.825-.328-3.673 3.605-.8L7.583 0 11 1.46 14.417 0zm-.38 7.72a.786.786 0 00-.587.267l-3.77 4.138-1.134-1.244a.786.786 0 00-.587-.267.786.786 0 00-.587.267.974.974 0 000 1.287l1.762 1.933c.151.17.364.266.586.266a.786.786 0 00.587-.266.919.919 0 00.17-.276l4.147-4.55a.974.974 0 000-1.288.786.786 0 00-.587-.266z' id='a'/%3E%3C/defs%3E%3Cuse fill='%236C84FA' xlink:href='%23a' fill-rule='evenodd'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    }

}

img{
  
  pointer-events: none;
}

.product-img-badge {
  position: absolute;
  top: 0.75rem;
  left: 1.75rem;
  right: auto;
}

.nav-link-shrink {
  padding: .75rem 0.50rem !important;
}

// .gallery-thumbnail-img {
//   height: 11rem;
// }

.category-img {
  width: 2.875rem;
}

.video-overlay {
  position:absolute;
  width: 100%;
  top:0;
  left:0;
  z-index:1;

  .inner-overlay {
    width: 100%;    
  }
}

.no-zoom {
  touch-action: manipulation;
}



.bootstrap-autocomplete {
  max-height: 12rem;
    overflow-y: scroll;
  .dropdown-item:hover {
    background-color: $secondary;
  }
}

.md-content {

  h1,h2,h3,h4,h5,h6 {
    color: $accent;
  }

  b, strong {
    font-weight: 500;
  }

  table {
    width: 100%;
    margin-bottom: 1rem;
  }
}



.bg-edark {
    background-color: #e9ecef !important;
  }
  
  .bootstrap-autocomplete.show {
    display: block!important;
  }
  
  .bootstrap-autocomplete {
    z-index: 25000;
    background-color: #fff!important;
    
    .dropdown-item {
      color: #000!important;
    }
    :hover {
      color: red!important;

    }
  }

  .item-slider {
    width: 12rem;
    height: 100%;

    .item-title {
      padding-top: 4px;
    }

  }
  
  // . {
  //   .card-body {
  //     padding: 0.6rem !important;
  //   } 
  // }

  .header-img {
    width: 3rem;
  }

  .item-slider-sm {
    width: 9rem !important;
  }

  .item-slider-sm-all {
    width: 4rem !important;
  }
 
  /* not active */
.nav-pills.nav-pills-dark .nav-link:not(.active) {
  background-color: $gray-200 !important;
  color: black !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.hr_line {
  border-top: 1px solid $gray-200;
    margin-top: 10px !important;
}

/* active*/
.nav-pills.nav-pills-dark .nav-link {
   background-color: darken(#276ff6, 0%) !important; 
  color: white !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


 .link-black {
   color: #000;
 }



[v-cloak] {
  display: none;
}

