
.reyon-navbar {
  li {
    img {
      width: 2.875rem;
    }
  }
}

.line-h-extra {
  line-height: 150%;
}

.collapse-container {
  font-size: 14px;
  line-height: 1.5;
}

.collapse-container div.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;
  
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.collapse-container div.collapsing {
    min-height: 42px !important;
}

.collapse-container a.collapsed:after  {
    content: '+ Devamını Göster';
}

.collapse-container a:not(.collapsed):after {
    content: '- Devamını Gizle';
}

.page-footer-text {
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.0625rem;
  }
}

.product-card, .touch-support {
  a {
    touch-action: manipulation;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;


    img {
      touch-action: manipulation;
    }
  }
}

img{
  
  pointer-events: none;
}

.product-img-badge {
  position: absolute;
  top: 0.75rem;
  left: 1.75rem;
  right: auto;
}

.nav-link-shrink {
  padding: .75rem 0.50rem !important;
}

// .gallery-thumbnail-img {
//   height: 11rem;
// }

.category-img {
  width: 2.875rem;
}

.video-overlay {
  position:absolute;
  width: 100%;
  top:0;
  left:0;
  z-index:1;

  .inner-overlay {
    width: 100%;    
  }
}

.no-zoom {
  touch-action: manipulation;
}

.md-content {
  p {
    margin-bottom: 0.3rem;
  }
  b, strong {
    font-weight: 500;
  }
}
.navbar-dark .navbar-nav .nav-link {
}



.bg-edark {
    background-color: #e9ecef !important;
  }
  
  .bootstrap-autocomplete.show {
    display: block!important;
  }
  
  .bootstrap-autocomplete {
    z-index: 25000;
    background-color: #fff!important;
    
    .dropdown-item {
      color: #000!important;
    }
    :hover {
      color: red!important;

    }
  }

  .item-slider {
    width: 12rem;
    height: 100%;

    .item-title {
      padding-top: 4px;
    }

  }
  
  .item-card {
    .card-body {
      padding: 0.6rem !important;
    } 
  }

  .header-img {
    width: 3.0rem;
  }

  .item-slider-sm {
    width: 9rem !important;
  }

  .item-slider-sm-all {
    width: 4rem !important;
  }
 
  /* not active */
.nav-pills.nav-pills-dark .nav-link:not(.active) {
  background-color: $gray-200 !important;
  color: black !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.hr_line {
  border-top: 1px solid $gray-200;
    margin-top: 10px !important;
}

/* active*/
.nav-pills.nav-pills-dark .nav-link {
   background-color: darken(#276ff6, 0%) !important; 
  color: white !important;
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


 .link-black {
   color: #000;
 }



[v-cloak] {
  display: none;
}

body {
  // background-color: #e31013;
}