.product-card {
  padding-bottom: $card-spacer-y;
  border: 0;

  .product-card-actions,
  .badge {
    position: absolute;
    top: $spacer * .75;
    right: $spacer * .75;
    z-index: 5;
  }


  .badge {
    right: auto;
    left: $spacer * .75;
  }

  .card-body {
    position: relative;
    background-color: $card-bg;
    z-index: 2;
  }


  @include media-breakpoint-up(sm) {
    padding-bottom: 0;
  }

}



.product-title > a {
  color: $product-title-link-color;
  text-decoration: none !important;
  &:hover {
    color: $product-title-link-hover-color;
  }
}



// Wishlist button

.btn-wishlist {
  position: absolute;

  z-index: 5;

  width: $btn-wishlist-size;
  height: $btn-wishlist-size;
  padding: 0 !important;
  transition: $btn-transition;
  border: 0;
   border-radius: 0%;
   top: 0;
   right: 0;
  // background-color: $btn-wishlist-bg;
  // color: $btn-wishlist-color;
  text-align: center;
  > i {
    font-size: $btn-wishlist-font-size;
    line-height: $btn-wishlist-size;
  }

  &:hover { color: $btn-wishlist-hover-color; }
  &:focus { outline: 0; }

  &.btn-sm {
    width: $btn-wishlist-size-sm;
    height: $btn-wishlist-size-sm;
      > i {
      font-size: $btn-wishlist-font-size-sm;
      line-height: $btn-wishlist-size-sm;
    }
  }
}


// Star rating

.star-rating {
  display: inline-block;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
  .sr-star {
    display: inline-block;
    margin-right: .1875rem;
    color: $star-color;
    font-size: $star-size;
    vertical-align: middle;
    &.active {
      color: $star-active-color;
    }
  }
}


// Shop specific page title that overlaps the content below

.page-title-overlap {
  padding-bottom: 6.375rem;
  & + * {
    position: relative;
    margin-top: -4.875rem;
    z-index: 5;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 5.5rem;
  }
}


// Interactive credit card

.card-wrapper {
  margin: 1.875rem -.9375rem;
  @include media-breakpoint-down(xs) {
    .jp-card-container { width: 16.25rem !important; }
    .jp-card { min-width: 15.625rem !important; }
  }
}


// Product details (Single product)

@include media-breakpoint-up(lg) {
  .product-details {
    width: 100%;
    max-width: 26rem;
    padding-top: 0.25rem;
  }
}


// Poduct availability badge (Single product)

.product-badge {
  position: absolute;
  top: 50%;
  right: -1.75rem;
  padding: {
    top: .425rem;
    left: .625rem;
    right: 1rem;
    bottom: .425rem;
  }
  transform: translateY(-50%);
  @include border-radius($border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: $font-size-ms;

  &::after {
    position: absolute;
    bottom: -.475rem;
    right: .25rem;
    height: 0;
    width: 0;
    transform: rotate(-45deg);
    border: solid transparent;
    content: " ";
    pointer-events: none;
    border-width: .525rem;
  }

  > i {
    margin: {
      top: -.125rem;
      right: .25rem;
    }
    font-size: 1.2em;
    vertical-align: middle;
  }

  &.product-available {
    background-color: $success;
    color: $white;
    &::after {
      border-color: rgba($success, 0);
      border-bottom-color: darken($success, 10%);
    }
  }
  &.product-not-available {
    background-color: $gray-200;
    color: $gray-700;
    &::after {
      border-color: rgba($gray-200, 0);
      border-bottom-color: darken($gray-200, 8%);
    }
  }
  @include media-breakpoint-down(md) {
    right: -.75rem;
  }
}
.modal .product-badge { right: -.575rem; }


// Product gallery
